[2017-05-16 23:13] samuelkarp commented on #803
@sergiofigueras It looks like this is a duplicate of https://github.com/aws/amazon-ecs-agent/issues/806, so I'll close this one.

[2017-05-16 23:13] #803 closed

[2017-05-16 23:15] samuelkarp commented on #718
@maartenvanderhoef We haven't heard from you in a while, so I'm going to close this issue.  If you get a chance to respond to @aaithal's questions we'd be happy to reopen it.

[2017-05-16 23:15] #718 closed

[2017-05-16 23:21] samuelkarp commented on #720
Congratulations!

I think that might be closer to just allowing replaceable runtimes than a straight-up plugin model.  I think my biggest concern with something like that is that is that I think your immediate goal is potentially more useful to a larger number of people than completely abstracting the runtime away; I think more people are interested in providing small extensions either to how ECS

[2017-05-16 23:25] samuelkarp commented on #730
@jamesongithub Just checking in; are you still experiencing problems?  If so, were you able to run `docker kill -s USR1 ecs-agent` to generate debug information?

[2017-05-16 23:28] samuelkarp commented on #741
https://github.com/projectatomic/container-storage-setup/pull/234 was merged.  We'll need to get a new version of docker-storage-setup/container-storage-setup prepared for Amazon Linux.

[2017-05-17 00:04] samuelkarp commented on #762
@optimisticanshul Are you still running into problems here?  If so, can you answer @aaithal's questions?

[2017-05-17 02:34] ejholmes commented on #720
❤️

[2017-05-17 03:49] jamesongithub commented on #730
hi, i havent seen it recently. however we're running the ecs-agent container with a `always` restart policy now. the problem may still exist.

[2017-05-17 05:22] songgao commented on #806
We had a similar issue: all docker commands hang; docker container process also hangs, but ECS shows task as healthy.

We noticed that the container instance in question runs Agent Version 1.14.1, and docker version 1.12.6. We also have a bunch of other containers running docker version 1.12.6, but with Agent Version 1.14.0 and they haven't had any similar issue. So it might be related to the agen

[2017-05-17 13:12] sergiofigueras commented on #806
@samuelkarp , we had several issues running on ECS. This one suddenly disappeared. But I must say that as a huge client, we're *very disappointed* with Docker / ECS. It presented us *several* different issues. We're buying technical support from AWS for now on. I'll try to update things as we've news.

[2017-05-17 14:40] sdeprez commented on #787
Hi ,

Any ETA for this feature? Or any workaround for it in the meantime?

Basically, I need to run some version of Chromium headless inside containers, and that requires more than the default 64M of shared memory so at the moment it's simply impossible to run it.

Thanks,

[2017-05-17 17:32] samuelkarp commented on #806
@songgao Can you provide logs from a container instance where you're seeing this problem?  It'd be useful to see the Docker daemon logs (`/var/log/docker`) as well as the ECS agent logs (`/var/log/ecs/*`).  If you're not comfortable posting these logs publicly, you can email them to me at skarp at amazon.com.

@sergiofigueras I'm sorry to hear that you've had issues using ECS.  We're happy to help

[2017-05-17 17:33] songgao commented on #806
@samuelkarp We terminated the instance, so no logs any more. Sorry! If it happens again I'll make sure I get those logs.

[2017-05-17 17:39] jzila commented on #806
[I work with @songgao]
Just adding extra context for our repro, not sure if it's relevant:
[code]

[2017-05-17 17:42] samuelkarp commented on #806
@songgao @jzila Thanks!

@jzila Looks like our init script isn't checking whether it's running as root when you run `status` before modifying the `ulimit`.  The line you're seeing there is harmless; when run as root (which is the normal user for executing the init script), the `ulimit` does get modified properly.

[2017-05-17 17:59] samuelkarp commented on #730
Interesting, does that mean that the agent was crashing/exiting instead of just remaining disconnected?

[2017-05-17 18:00] samuelkarp commented on #658
@jamesongithub Just checking in here; the latest on https://github.com/opencontainers/runc/issues/1130 seems to suggest upgrading to Ubuntu 16.04.  Are you still on Ubuntu 14.04 and experiencing these problems?

[2017-05-17 19:00] richardpen opened #812 "Make `gogenerate` work for acs/tcs model"
After updated the aws sdk to v1.8.19 in #786, looks like it breaks the code generation for `acs` and `tcs` model when running `make gogenerate`. After adding the `-tags codegen` in the generate command, the code generation will remove all the "Exception" struct from the `api.go` which causes build fail.

[2017-05-18 01:54] jamesongithub commented on #658
yes we're still on 14.04. in the process of upgrading to 16.04

[2017-05-18 02:00] jamesongithub commented on #730
probably. ive seen the latter, but it was a few versions ago.

[2017-05-18 21:10] samuelkarp commented on #721
@jhovell Are you able to share the information that @richardpen asked for?

[2017-05-18 21:12] samuelkarp commented on #730
@jamesongithub Thanks.  I'm going to close this issue for now since you're no longer seeing problems, though if you do experience problems again please let us know.  In order for us to root-cause and understand what's going on, we'll need the detailed logging/debugging information that @aaithal asked for.

[2017-05-18 21:13] samuelkarp commented on #753
@krishan-carbon Just to clarify, does the agent recover after the container that uses all available memory is stopped?

[2017-05-18 21:24] samuelkarp commented on #772
@cavis Can you provide the output of `docker info`, `docker ps -a`, `sudo lvs`, `sudo pvs`, and `sudo vgs`?  It'd also be good to look at the Docker daemon logs (in `/var/log/docker`) and the ECS agent logs (in `/var/log/ecs`).  You can collect all this information by running the [ECS log collector](https://github.com/awslabs/ecs-logs-collector).  If you're not comfortable providing this informati

[2017-05-18 22:43] jhovell commented on #721
@samuelkarp @richardpen @aaithal

1. No, it's not affecting our production workload. This was discovered during container development when a container was configured in such a way that it could not start and would only get created. I am searching for some detail here as to how to reproduce this as I think getting the container stuck at created state was easily reproducible. It was a simple base re

[2017-05-19 02:32] jumiker commented on #808
I tried setting the environment variables referenced in the AWS documentation as well as setting Windows system and IE proxies to see if it would pick them up from there. If this does work adding a bit of documentation on how to do it would be appreciated.

[2017-05-19 16:54] mide opened #814 "Error getting message from ws backend: error: [websocket: close 1006 (abnormal closure): unexpected EOF]"
Hello --

I'm observing a good amount of the following errors, showing websocket connectivity loss. I looked through #281, but it seems to be slightly different behavior.

[code]

This is the output of `docker inspect ...`
[code]

I'd love to attach some more `DEBUG` logs, but I'm running the ECS optimized AMI and I'm not sure how to force the agent into debug mode. If someone can guide me, I'll g

[2017-05-19 16:56] samuelkarp commented on #814
You can put the agent in debug mode by adding `ECS_LOGLEVEL=debug` to `/etc/ecs/ecs.config` and running `sudo stop ecs; sudo start ecs`.  Alternately, you can use the [ECS logs collector](https://github.com/awslabs/ecs-logs-collector) to grab logs for you

[2017-05-19 17:12] mide commented on #814
Thanks for the info @samuelkarp, I've put the agent into debug mode, but it looks like this error happens once every six hours, so I expect to be have more information by Monday.

[2017-05-19 17:49] blaines commented on #810
- Would you want to set the MAC address in the task definition?
Yes that is my specific use case, as there's only one of these kind of tasks/container per instance anyway.
- Would you want ECS to manage MAC addresses? Should MAC addresses be unique across your cluster?
I'm fine managing the MAC myself, for my use case there's no need for any guarantees outside of what docker already provides.
- Wo

[2017-05-19 18:05] samuelkarp commented on #814
Cool, thanks!

[2017-05-19 18:11] cavis commented on #772
@samuelkarp I rolled our ECS AMI back to 1.14.0 ... but over the past 2 weeks it has also been gradually running out of space.

On the host system:

[code]

And in the only container (other than the `amazon/amazon-ecs-agent:latest`):

[code]

I have a cron running fstrim as root on the host system, which is failing to reclaim any space.  Running fstrim manually isn't working either:

[code]

Here

[2017-05-19 20:12] michaelshaffer37 commented on #247
@cbbarclay I think that the parameter store would be a much better solution as the host EC2 instance running the Clusters wouldn't need to store the file for the env vars. Essentially what @mrburrito is stating on #328 would solve the problem with out exposing them to the host env file system.  Much like the link that @myronahn provided but running in ECS agent rather than a special container.
Per

[2017-05-19 20:20] WhileLoop commented on #247
Better integration between EC2 Parameter Store and ECS would be great. Please consider this.

[2017-05-19 21:48] toby5box commented on #139
This really should be added to the Troubleshooting docs (http://docs.aws.amazon.com/AmazonECS/latest/developerguide/troubleshooting.html) and here http://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-agent-config.html , because it breaks if you merely launch the instance with ECS AMI.

[code]

[2017-05-19 22:37] cjbottaro commented on #806
I'm also wanting an updated Docker version, namely for some changes to how Dockerfiles are processed (we use ECS as a build system).

[2017-05-21 00:25] dario-simonetti commented on #534
Our usec ase is ECS services using gRPC, which runs on HTTP/2 and so can't be attached to an ELB/ALB. I feel this functionality is essential and very important during deployments in a no-LB setup to ensure that the new version is actually running and serving responses before turning the old version off. It's also generally important in order to maintain a healthy system, by killing unhealthy tasks

[2017-05-21 16:43] rhyas opened #815 "Feature Request: Limit Container Restarts."
Add the ability to limit the number of container starts. e.g. if a container won't start after 5 tries, stop trying to start it. Having restarts happen forever on containers with errors starting puts a large load on dockerd to deal with volumes setup for containers that failed to start.

[2017-05-21 17:50] rferreira commented on #772
interesting potential tidbit, I'l also adjusting the dm.basesize via a user data script.

[2017-05-22 14:46] mide commented on #814
@samuelkarp, here is one occurrence of errors with `DEBUG` logging on.
[code]

And one more:
[code]

Please let me know if more information helps with this issue.

[2017-05-22 17:10] wezzynl commented on #789
Yeah, being able to set `somaxconn` would be very, very welcome.

[2017-05-22 17:20] samuelkarp commented on #815
Somewhat related to https://github.com/aws/amazon-ecs-agent/issues/674.

[2017-05-22 17:26] samuelkarp commented on #534
@dario-simonetti Since you specifically mentioned a lack of HTTP/2 support as being problematic, I think it would be useful to note that Application Load Balancers  (ALB) do support HTTP/2.  You can see the feature list and comparison between Application Load Balancers and Classic Load Balancers [here](http://docs.aws.amazon.com/elasticloadbalancing/latest/userguide/what-is-load-balancing.html#elb

[2017-05-22 17:58] samuelkarp commented on #753
Additionally, if you can collect logs from both Docker and the ECS agent when this is happening, we can debug more effectively.  The easiest way to collect the relevant information is with the [ECS logs collector](https://github.com/awslabs/ecs-logs-collector).  If you're not comfortable sharing this information publicly, please feel free to send it to me directly at skarp at amazon.com.

[2017-05-22 18:00] samuelkarp commented on #769
@jharley It looks like @aaithal answered the question that you had, so I'll go ahead and close this issue now.  If you have additional questions, please feel free to comment here or to open a new issue.

[2017-05-22 18:00] #769 closed

[2017-05-22 18:32] dario-simonetti commented on #534
@samuelkarp they do, but they forward the request to the origin converting it to HTTP/1.1

(from http://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-listeners.html)

[2017-05-22 23:48] samuelkarp commented on #814
@mide Thanks for sending those!

It looks like you're seeing this pretty infrequently.  I think what's really happening here is that the log message is inappropriately categorized as an ERROR and should probably just be logged at INFO level at most.

To give a bit more background: it's normal and expected for the ECS agent to disconnect and reconnect to ECS.  Reconnection should happen fairly quic

[2017-05-22 23:58] samuelkarp commented on #814
I've just opened https://github.com/aws/amazon-ecs-agent/pull/816 for the log line.

[2017-05-23 01:44] yhahn commented on #776
:fearful:

[2017-05-23 01:45] xrwang commented on #776
😱

[2017-05-23 01:45] jakepruitt commented on #776
😰

[2017-05-23 02:38] jakepruitt commented on #776
We were able to reproduce this erratic behavior in the `CPUReservation` ECS metric on one of our clusters. We created a cluster with a single `c3.8xlarge` instance (which has 32 cores) and a single ECS service, whose task definition had a `cpu` reservation of `2600` units.

We noticed that when there were only a few tasks in the service, the `CPUReservation` metric told the truth and showed the va

[2017-05-23 14:56] mide commented on #814
You're correct that we're getting it infrequently, but since we have a large number of hosts, it's almost a constant stream of errors from the `ecs-agent.log`. Knowing the error we're seeing is benign/not really an error is a relief.

I think it's sufficent to close this in favor of #816. Thanks for the help!

[2017-05-23 14:56] #814 closed

[2017-05-23 20:29] jamesongithub commented on #730
@samuelkarp @aaithal I just hit the again. Agents running, but disconnected. Can we reopen? I've sent logs to @aaithal and @cabbruzzese. If you give your email @samuelkarp I can send it to you as well.

[2017-05-23 20:35] jamesongithub commented on #730
stack trace https://gist.github.com/jamesongithub/d71ffc74bfa72f03709fc44005a5ef6f

[2017-05-23 21:02] samuelkarp commented on #730
Yep, I'll reopen.  I can ask @aaithal and @cabbruzzese for the logs.

[2017-05-23 21:41] samuelkarp commented on #730
@jamesongithub Can you send them directly to me at skarp at amazon.com?

[2017-05-23 22:04] jamesongithub commented on #730
done. thank you.

[2017-05-23 22:15] samuelkarp commented on #730
@jamesongithub I haven't received the logs.  Can you try maybe sending from a different email address?

[2017-05-23 23:59] samuelkarp commented on #772
@cavis Thanks for providing all that information.  It looks like your instance is configured to [use xfs](https://gist.github.com/cavis/91a766fe840878e3ca7c59cd9030f18a#file-docker-info-L11) as the backing filesystem for devicemapper.  We've seen problems with xfs being unable to free space once space has been exhausted (including issues where xfs would cause Docker to hang, see https://github.com

[2017-05-24 02:25] azban commented on #771
as stated in the original pr (https://github.com/aws/amazon-ecs-agent/issues/124#issuecomment-183386891) i don't think it's unreasonable to manage swap on the host instance via user data.

[2017-05-24 14:25] cavis commented on #772
@samuelkarp How do you control what is used for the logical volume?  I'm using a launch config on the official ECS AMI `ami-d69c74c0` (2016.09), with storage setup like this:

![image](https://cloud.githubusercontent.com/assets/1410587/26407670/03eb1876-4059-11e7-9d92-641d5addd947.png)

[2017-05-24 14:41] cavis commented on #772
Ah, okay, i see what i did.  I have a multipart userdata script with a double-escaped `$`.  So I end up with this as the last 2 lines of `/etc/sysconfig/docker-storage-setup`:

[code]

So the ext4 option doesn't actually make it into the final `EXTRA_DOCKER_STORAGE_OPTIONS`.  My bad!  Will update that, and confirm that space is getting reclaimed.

[2017-05-24 14:42] rferreira commented on #772
I'll give it a shot tomorrow and report back @samuelkarp

[2017-05-24 17:27] samuelkarp commented on #804
Thanks, I've marked this as a feature request.

[2017-05-24 17:29] samuelkarp commented on #762
@optimisticanshul We haven't heard back from you in a while, so I'm going to close this issue for now.  If you have a chance to answer @aaithal's questions, we'd be happy to re-open the issue and continue investigation.

[2017-05-24 17:29] #762 closed

[2017-05-24 22:36] jhaynes commented on #794
@bobzoller and/or @dm03514 I'd like to add one more avenue of investigation. Try increasing your task's memory limit a bit.

The page faults you're seeing are likely due to the page cache being partially flushed to free up more process memory. This, in turn, causes your application to need to re-read portions of itself (or its dependencies) from disk. Depending on your application's structure, thi

[2017-05-25 03:25] acmcelwee opened #818 "Container instance and agent not cleaned up on unclean shutdown"
This might be more of an ECS scheduler and overall system issue, but this team seems like it might be the best place to start a conversation. We've got a ticket open w/ AWS support, but I think it's worth chatting about here in the open.

A couple days ago, we had an ECS host decide to unexpectedly reboot. In a world of disposable, autoscaled instances and container orchestration, it should've bee

[2017-05-25 06:49] bobzoller commented on #794
correct @jhaynes, as I said major page faults are absolutely the problem and increasing the memory limit will resolve it _until you bump up against the limit again_.

as we're striving for container isolation and protecting the health of the host, we chose to write a simple reaper that runs on every ECS instance and stops containers that have crossed a major page fault threshold we chose based on

[2017-05-25 14:14] krishan-carbon commented on #753
@samuelkarp no, the agent does not recover, it is constantly registered as disconnected and new containers can't be allocated to it. We have to restart the instance to get it back. I will work on getting logs to you, we have now set hard memory limits on all containers so will have to set up a new cluster + container to simulate this.

[2017-05-25 15:20] aaithal commented on #731
Hi @coryodaniel, apologies for the late response here. Thank you for sending these logs. To explain detail what's happening here, the behavior that you described in your first comment when you created the issue is how the ECS Agent is supposed to function:

Whenever ECS Agent receives new tasks to start from the ECS backend (`PENDING`->`RUNNING`), if it also has other tasks to stop, it won't start

[2017-05-25 17:39] adnxn opened #820 "intermittent windows unit-test failure: TestSteadyStatePoll"
this test fails intermittently on windows and lives in [agent/engine/docker_task_engine_test.go](https://github.com/aws/amazon-ecs-agent/blob/dev/agent/engine/docker_task_engine_test.go). see [test logs and stack trace](https://gist.github.com/adnxn/808e066503cb7091fa882983e3943852) for more info.

repro: on t2.micro windows instance, in ```agent/engine```,
 run ```go test . -run TestSteadyStatePo

[2017-05-26 09:52] EugeniuZ commented on #502
Shouldn't https://github.com/aws/amazon-ecs-agent/issues/469 be added to the list above?

[2017-05-26 14:16] seankovacs commented on #772
I'm running into an issue not with ECS agent but with a docker setup on EB where space isn't reclaimed  (writes and deletes from /tmp) and eventually running out of space, throwing the file system into read only mode.

Here is a docker info:
`Containers: 1
 Running: 1
 Paused: 0
 Stopped: 0
Images: 2
Server Version: 1.12.6
Storage Driver: devicemapper
 Pool Name: docker-docker--pool
 Pool Blocksiz

[2017-05-26 16:14] jhaynes commented on #502
@EugeniuZ Sure should.  I've updated @aaithal's list accordingly.

[2017-05-26 16:54] jhaynes commented on #794
@dm03514 I'm inclined to close this since it isn't directly related to an ECS issue. However, if you or @bobzoller wind up with other questions or issues, feel free to open bugs here or engage directly with AWS Support.

[2017-05-26 16:54] #794 closed

[2017-05-27 06:38] rhyas commented on #815
Somewhat, but not completely. The reason for opening this is: If a container definition is wrong, or arguments bad, or something else in error that cause the container to die upon start, ECS will continually try to restart it forever. This seems like it can make a mess of deferred volume cleanup in the devicemapper driver, and seems to potentially be causing an issue where when cleaning up from su

[2017-05-27 07:23] vijaimatamazon opened #822 "uujuhgrurh"

[2017-05-28 03:11] jveldboom commented on #776
We're seeing the exact same issue at the cluster level but also at the service level as well. It seems to be the agent not sending those metrics to CloudWatch which is effecting the cluster's average.

Below is a graph of the services running on the cluster. Notice the gaps in the graph for the missing data points.

![screen shot 2017-05-27 at 11 00 30 pm](https://cloud.githubusercontent.com/asset

[2017-05-29 14:41] mhowell-ims commented on #771
@azban I tried what I think you're suggesting, setting up swap space on the host instances via user data script, but the containers run via ECS on those hosts were unable to access the swap memory, so it doesn't work.

[2017-05-29 23:28] aaronwalker commented on #804
@samuelkarp The use case we have for this would be tagging a service to cache it's images on the ecs cluster instances to speed up autoscaling to avoid having to download the image on that instance. Or even bake AMIs with the images already cached. We often have to deal with quite large containers that aren't deployed to ECR. I'd be happy to have ago at implementing support for this if.

[2017-05-30 10:01] hwatts commented on #815
I think some kind of exponential backoff pattern for restarts would be more useful here. I'm not sure that a fixed number of retries is that helpful as there may be transient failure conditions (databases unavailable/dependent services down etc.) that will eventually recover.

Logging the number of task stopped events directly to cloudwatch would probably help in terms of generating alerts when ba

[2017-05-30 13:59] shuangwu42 commented on #500
We have observed the same issue with the latest version 1.14.1. Are you sure it was fixed? Thank you!

[2017-05-30 16:11] jhaynes commented on #822
Hi @vijaimatamazon. This looks like it may have been a mistake. If so, I'm happy to close this issue. If not, please update the title and description accordingly.

[2017-05-30 16:46] #822 closed

[2017-05-30 16:46] vijaimatamazon commented on #822
Yes indeed. Sorry

[2017-05-30 18:05] sriramk2387 opened #824 "EC2 Windows Instances for ECS - Configure proxy for ECS end point"
I am trying to get Windows ECS setup in our AWS account – as per http://docs.aws.amazon.com/AmazonECS/latest/developerguide/ECS_Windows_getting_started.html.
The new EC2 does not register with ECS and I looked at the comments here - https://github.com/aws/amazon-ecs-agent/issues/660.

Our AWS  account restricts direct outbound traffic and is allowed through a proxy. I had to add the proxy to the u

[2017-05-30 20:27] bobziuchkovski commented on #534
@samuelkarp Bump from our end as well.  This would be very useful.  I'm not committing to anything, but if we were to submit a PR that implemented this on the agent side, would that have any chance of being accepted and/or helping to expedite things?  It seems like this would also require support on the Amazon service side to specify the health check attributes, so I don't know whether it helps to

[2017-05-30 21:37] jhaynes commented on #818
Hi @acmcelwee Thank you for the clear bug report. I've passed this along to our back-end team and update the ticket here accordingly.

[2017-05-31 15:49] jhaynes commented on #818
I tried to reproduce your issue and see similar behavior, with a slight difference. What I did:

- Start a simple service
- `echo b >> /proc/sysrq-trigger` on the container instance where my tasks are running
- Confirm containerd bug is triggered and Docker is unresponsive
- Container instance shows agent connected false
- Tasks in my service continue to report RUNNING

Is this consistent with wha

[2017-05-31 18:20] samuelkarp commented on #500
@shuangwu42 Please open a new issue if you're experiencing problems.

[2017-05-31 18:44] samuelkarp commented on #534
@dario-simonetti Thanks, that clarifies the request a good deal.

@bobziuchkovski I think we'd be open to a contribution for the agent-side of the feature, but as you've identified it does require work on the ECS service side as well to fully implement the feature.  If you're still interested in a contribution, would you mind opening a new issue so we can talk through the design before writing cod

[2017-05-31 22:29] songgao commented on #806
@samuelkarp We just had another one; sent you an email with the logs. Hope it helps. Thanks!

[2017-05-31 23:06] acmcelwee commented on #818
@jhaynes thanks for digging into this. Yeah, that's exactly what I saw. I went w/ the `Fix the Docker state so the ECS agent can start again` because there wasn't a natural place to inject any of the other actions w/out a human operator intervening. I'd prefer to kill the instance and start fresh, but for now, just ensuring a clean restart made the most sense.

That said, the fact that tasks in th

[2017-05-31 23:35] samuelkarp commented on #806
@songgao Thanks, I'll take a look!

[2017-06-01 01:09] adnxn commented on #820
this can be reproduced on Linux as well with the repro steps above. =[

[2017-06-01 11:01] CpuID commented on #451
+1

[2017-06-01 14:38] jason-riddle opened #826 "Inconsistent behavior when setting ECS_CLUSTER"
If `ECS_CLUSTER` is set to `default` and the `default` cluster doesn't exist, it will be created. However, if `ECS_CLUSTER` is set to anything else other than `default`, the agent logs the following.

[code]

Is this the correct, expected behavior?

[2017-06-01 16:08] samuelkarp commented on #826
Hi @jason-riddle,

The behavior for `ECS_CLUSTER` is as follows:

* If `ECS_CLUSTER` is undefined, the value `default` is assumed
* If `ECS_CLUSTER` is undefined and registration fails, the ECS agent attempts to create the `default` cluster
* If `ECS_CLUSTER` is defined, the ECS agent will attempt to register into the defined cluster but will not attempt to create the defined cluster it registrati

[2017-06-01 17:27] jason-riddle commented on #826
Can this be documented somewhere? It didn't take much time to figure this out, but it could clear up some confusion in the future if someone runs across this issue again.

[2017-06-01 17:33] samuelkarp commented on #826
Yep!  I thought there was some, but I'm having trouble finding it at the moment.  I've asked our documentation writer to add some information like this to our developer guide.

If you'd like to add a bit more text on this to our README, we'd be happy for that contribution as well.

[2017-06-01 17:33] #826 closed

[2017-06-01 17:37] samuelkarp commented on #772
@rferreira Were you able to try out @aaithal's suggestions?

@seankovacs I'm not as familiar with the Elastic Beanstalk AMIs and what configuration they have.  Can you let me know the specific AMI ID you're using so I can take a look at it?

@seankovacs This sounds exactly like what @aaithal described here: https://github.com/aws/amazon-ecs-agent/issues/772#issuecomment-297154618.  Can you try his

[2017-06-01 17:39] faizan82 commented on #269
Couchbase server cluster using ECS Weave but managing ports is becoming a pain:
21100 to 21299 (inclusive) Node to Node communication

[2017-06-01 17:40] samuelkarp commented on #753
@krishan-carbon Were you able to collect any logs?

[2017-06-01 17:42] samuelkarp commented on #733
@jharley @andyt10 Are you able to provide logs and the information that @jhaynes requested?

[2017-06-01 17:43] samuelkarp commented on #730
@jamesongithub Can you try sending the logs again?

[2017-06-01 17:46] seankovacs commented on #772
@samuelkarp  I did end up  creating a cron job that runs every minute to fstrim the volume. Kinda annoying.

[2017-06-01 17:51] jharley commented on #733
Sorry for the delay: I'll try to get this tomorrow. 👍

[2017-06-01 18:26] samuelkarp commented on #808
Can you try applying this diff to [the user-data](https://github.com/aws/amazon-ecs-agent/blob/master/misc/windows-deploy/user-data.ps1)?  You'll want to put your actual proxy configuration in there too.

[code]

You may also need to [restart Docker](https://docs.microsoft.com/en-us/virtualization/windowscontainers/manage-docker/configure-docker-daemon#proxy-configuration) so that pulls can go thr

[2017-06-01 18:26] samuelkarp commented on #824
It looks like this is a duplicate of https://github.com/aws/amazon-ecs-agent/issues/808.  See that issue for a suggestion.

[2017-06-01 18:26] #824 closed

[2017-06-01 19:09] jamesongithub commented on #730
hi @samuelkarp, just sent over 2 emails. 1 attachment is ~24MB. the other ~ 10MB. haven't received any rejection emails. Is there a maximum size on your end?

[2017-06-01 19:41] djenriquez opened #827 "IP Table rules cleared on failed ECS service - ECS agent keeps running"
# Summary
We have seen on multiple instances an issue where the ECS agent appears to be failing, but then restarting on its own. Thats great, however, when it fails, the ECS service responsible for the IP Table rules seems to clear out the rules needed for Task IAM Roles.

When the container comes back up, the ECS service is still down and so the instance stays registered in ECS, says agents can r

[2017-06-01 19:46] samuelkarp commented on #827
ecs-init is responsible both for restarting the ECS agent and for managing the iptables rules.  When the agent is restarted, the rules should come back.  Are you seeing something different happen?  If so, the relevant logs would be in `/var/log/ecs/ecs-init*`.

[2017-06-01 19:49] djenriquez commented on #827
@samuelkarp that incredibly fast response time is unheard of 🎉

There are a ton of logs in here, anything in particular I can grep? Or should I zip them up and send over to you?

[2017-06-01 19:51] samuelkarp commented on #827
Typically there wouldn't be a ton of logs emitted by ecs-init unless something is causing the agent to restart frequently.  Can you zip them and send them to me at skarp at amazon.com?  It'd also be good to see if there's anything in the agent logs that are indicating why it's dying.

[2017-06-01 19:53] jamesongithub commented on #730
ok i broke them up and resent. thanks!

[2017-06-01 19:54] djenriquez commented on #827
Ah yes, ecs-init logs are small, but I'm going to send you everything anyways, stay tuned.

[2017-06-02 00:01] bobziuchkovski commented on #534
@samuelkarp Thanks.  No promises on my end, but given how much this would help us, I'm inclined to pursue it.  I'm tied up with other work for a couple days, but I'll take a look through the codebase this weekend to familiarize myself.  After I do that, if it's something I feel I can tackle, I'll open that separate issue to discuss design.

[2017-06-02 16:35] pecigonzalo commented on #258
2yr have gone, any progress from AWS? @samuelkarp

[2017-06-02 19:49] cjbottaro opened #828 "Service that runs a task on each ECS host instance"
Hello,

Currently to accomplish this, I'm doing this:

[code]

Does this put unnecessary load on the agent or instance?  I see in the web ui a bunch of events like:
[code]

Is that ok to just let this go on indefinitely?  If not, how to accomplish the goal of having a service that runs a task once on each ECS instance in the cluster?

Thanks.

[2017-06-02 20:00] samuelkarp commented on #828
Yes, this is fine to go on indefinitely.  There is no additional load put on the agent or container instance from this.

I'm going to close this since we already have an issue tracking improvements in this area.  You can subscribe to https://github.com/aws/amazon-ecs-agent/issues/748 for further updates as they become available.

[2017-06-02 20:00] #828 closed

[2017-06-04 22:49] rhyas commented on #815
a backoff algorithm would probably work as well, just something that make the agent more intelligent when dealing with broken services/definitions, ensuring that it doesn't bring down the whole node, and potentially whole cluster, by just cramming restarts in until the nodes run out of IOPS if using EBS cleaning up all the dead containers.

[2017-06-05 12:24] panmanphil commented on #815
It would also be pretty helpful if in the case of "flapping services" as we've been calling them, increase the cleanup of those failed containers. A very aggressive backoff could work too as has been pointed out

[2017-06-05 12:29] panmanphil commented on #729
Any update on this? The current version of docker on windows doesn't even support docker stats so autoscaling groups don't work.

[2017-06-05 16:37] samuelkarp commented on #729
@panmanphil This is currently being worked on in https://github.com/aws/amazon-ecs-agent/pull/783.

[2017-06-05 16:42] samuelkarp commented on #815
@rhyas

Yep, that's exactly why I didn't close this as a duplicate :smile:

[2017-06-05 19:20] ibrahima commented on #502
I think this is really worth considering, in addition to all the issues for specific flags. At least some type of unsupported, you're-on-your-own API for passing arbitrary flags would be nice, because as @fundkis said, there's always going to be new flags for Docker run that people want to use. Some of them might conflict with ECS agent but at that point the developer is responsible for anything t

[2017-06-06 04:51] jumiker commented on #808
That worked - thank you. Maybe also update the docs with that?

[2017-06-06 04:51] #808 closed

[2017-06-06 04:52] samuelkarp commented on #808
@jumiker Great!  Yep, we'll get the docs updated as well.

[2017-06-06 07:41] samuelkarp commented on #730
Hi @jamesongithub,

Thank you for sending the logs.  I've spent some time over the past few days looking at them and wanted to update you with what I found and what is still remaining to be determined.

From your logs, the following line (repeated many times) stood out to me:

[code]

From this, I've been able to determine that you're affected by one known bug, but I also believe that there are po

[2017-06-06 21:10] jamesongithub commented on #730
Hi @samuelkarp,

Thanks for the analysis.

Yes, so we had a network issue around 2017-05-21T00:15:05Z. Basically our NAT failed, which prevented the agent from connected to ECS. During this time, it probably went into extended retries. After the network issue was fixed, the agent still wasn't able to join the cluster.

For the 2nd issue, I restarted the agent to see if it would help, but once it g

[2017-06-07 18:05] #707 closed

[2017-06-07 23:04] samuelkarp commented on #770
Released in [v1.14.2](https://github.com/aws/amazon-ecs-agent/releases/tag/v1.14.2).

[2017-06-07 23:04] #770 closed

[2017-06-07 23:05] samuelkarp commented on #759
Released in [v1.14.2](https://github.com/aws/amazon-ecs-agent/releases/tag/v1.14.2).

[2017-06-07 23:05] samuelkarp commented on #732
Released in [v1.14.2](https://github.com/aws/amazon-ecs-agent/releases/tag/v1.14.2).

[2017-06-07 23:05] #759 closed

[2017-06-07 23:05] #732 closed

[2017-06-07 23:06] samuelkarp commented on #707
Released in [v1.14.2](https://github.com/aws/amazon-ecs-agent/releases/tag/v1.14.2).

[2017-06-07 23:32] samuelkarp commented on #806
@songgao It's unclear if a new Docker version will resolve the issue you're seeing, but we have Docker 17.03.1-ce available today in the 2017.03.a ECS-optimized AMI and in the Amazon Linux yum repository.  Can you test this new version and see if it resolves it?

[2017-06-07 23:58] tysonmote opened #833 "1.14.2 causing container instances to grind to a halt"
1.14.2, which was just released a few hours ago, appears to be causing major issues in one of our ECS clusters. We have a large number of instances running 1.14.1 and 1.14.2. Many of the instances running 1.14.2 are exhibiting an issue where the instance accepts as many tasks as possible but is never able to transition them from the "PENDING" state to the "RUNNING" state.

We've opened an AWS Supp

[2017-06-08 00:07] jzila commented on #806
We can upgrade to it, but because it's an unpredictable event, we have no way of knowing if it worked.

[2017-06-08 00:55] tysonmote commented on #833
Our first clue is that we see "Pulling container ... (NONE->RUNNING) serially" log lines but not "Finished pulling container" log lines for all of the affected tasks. This means that we're being blocked somewhere in this block:

https://github.com/aws/amazon-ecs-agent/blob/35acca340e91f15ec3b0679064e31ad21f0380d7/agent/engine/docker_task_engine.go#L512-L524

My guess is that we have a deadlock her

[2017-06-08 00:58] tejasmanohar commented on #833
(I'm investigating this issue with @tysonmote)

See the stack of one of our (many) ECS agents facing the issue [here](https://gist.github.com/tejasmanohar/4778844aaa7d4db2e04a7adb45e01e30).

[2017-06-08 01:12] nmeyerhans commented on #833
Thanks for sending us the report and stacktraces. It's interesting that agent is reporting that it's pulling serially. What OS/AMI are you using? What docker version?

If you're able to run the [ECS log collector](https://github.com/awslabs/ecs-logs-collector) and send me the resulting archive, we may be able to learn more from the logs. You can send me the archive directly at nmeyerha at amazon.c

[2017-06-08 01:17] tejasmanohar opened #834 "Use `go test -race`"
I believe Go's race detector could've prevented [this](https://github.com/aws/amazon-ecs-agent/pull/743).

[2017-06-08 01:20] tysonmote commented on #833
Here's some details about the machines we're running:

[code]

We're using AMI `CoreOS-stable-1068.10.0-hvm (ami-7d11c51d)`. I'll email you the logs from one of our instances that ran in to the problem, as well.

Thanks!

[2017-06-08 01:21] tejasmanohar commented on #833
(Unfortunately, CoreOS is not supported by the log collector.)

[2017-06-08 01:26] nmeyerhans commented on #833
Thanks, I've received the logs.

[2017-06-08 01:29] tysonmote commented on #833
@tejasmanohar I was able to run it. I've sent that log archive as well.

[2017-06-08 02:21] tysonmote commented on #833
I just realized that I had a typo in the original issue message that said the problem was in 1.14.1, not 1.14.2. I fixed that.

[2017-06-08 15:04] Adrian-Sherwood commented on #236
+1

[2017-06-08 18:51] samuelkarp commented on #833
Hi @tysonmote and @tejasmanohar,

We've confirmed that a race condition exists in the ECS agent that can lead to a deadlock.  We believe that the race condition is more likely in 1.14.2, but exists in 1.14.1 as well.  We're actively working to fix this race condition and deadlock.

The specific race condition involves two locks that both relate to images: the `ImagePullDeleteLock` and `imageManage

[2017-06-08 18:57] samuelkarp commented on #833
Correction: This race condition was introduced in 1.14.2.  1.14.1 does not have this deadlock, but does have a potential panic as described in https://github.com/aws/amazon-ecs-agent/issues/707.

[2017-06-08 19:12] tejasmanohar commented on #833
@samuelkarp Got it, thanks! We'll stay on 1.14.1 for now. FWIW, if this is not going to be fixed ASAP, I'd recommend reverting the code that introduced the deadlock and re-releasing because a panic (that the agent is probably restarted on by process manager) is much, much better. Also, https://github.com/aws/amazon-ecs-agent/issues/834 may be helpful.

[2017-06-08 19:14] samuelkarp commented on #833
@tejasmanohar Yep, we're exploring both options right now.

[2017-06-08 20:12] gitrc commented on #236
Amazon, are you listening?

[2017-06-08 22:30] samuelkarp commented on #833
`amazon/amazon-ecs-agent:latest` on DockerHub now points to 1.14.1 again.  We have a fix forward in progress here: https://github.com/aws/amazon-ecs-agent/pull/836.

[2017-06-08 22:40] tejasmanohar commented on #833
Good to hear. Thanks for acting quickly, @samuelkarp & team!

[2017-06-09 08:15] milla commented on #300
I am experiencing the same problem

[2017-06-09 13:37] mhurne commented on #770
@samuelkarp Do you know if there's an updated Amazon ECS-Optimized AMI available that includes agent version v1.14.2 yet? Is it in amzn-ami-2016.09.g-amazon-ecs-optimized, which is the latest according to http://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-optimized_AMI_launch_latest.html?

[2017-06-09 17:18] vsiddharth commented on #770
@mhurne We do have an updated AMI with agent version v1.14.2 but we discovered a deadlock #833 which was addressed with #836 and we plan to publish new AMIs as soon as possible.

[2017-06-09 19:29] Adrian-Sherwood commented on #247
Better integration of all docker command line parameter of the run command would be great.

Docker offers many smart and interesting possibilities, ECS shoots them down, thanks Amazon.

[2017-06-12 10:49] sergiofigueras commented on #833
Hello @samuelkarp ,

Any ETA for that fix be available and new version is released?

Thanks!

[2017-06-12 13:46] evanstachowiak opened #839 "package not found error when running make test"
Hi ECS team,

I'd like to contribute a small change, but I'm having trouble getting my go environment up and running. When I run `make test`, I get this output:
[code]

Could you either give me an idea of where I'm going wrong here or is there something in the documentation that I'm missing?

Thanks,
Evan

[2017-06-12 16:03] vsiddharth commented on #833
@sergiofigueras We already have a fix merged on the `dev` branch.
The release process is under way and the new version should be out as soon as our testing and release process is complete.

[2017-06-12 16:09] vsiddharth commented on #839
@evanstachowiak I think there is something incorrect with your go development environment.
Please setup `GOROOT` and `GOPATH` correctly and stick the agent under `$GOPATH/src/github.com/aws/amazon-ecs-agent`.

Then run `make get-deps` prior to running the tests.

HTH

[2017-06-12 19:49] kevindiamond commented on #225
@samuelkarp @aaithal or others:
Any plans to add this feature or something similar?

[2017-06-12 22:37] samuelkarp commented on #720
@ejholmes You can follow along with my prototyping for containerd [here](https://github.com/samuelkarp/amazon-ecs-agent/tree/containerd).

[2017-06-13 00:04] nehalrp commented on #833
@optimisticanshul You would need to re-pull it:
[code]

[2017-06-13 00:30] optimisticanshul commented on #833
@nehalrp It is a new ec2 instance

[2017-06-13 09:51] luposlip opened #843 "Unable to do blue/green deployment"
Hi!

Usually I update my containers simply by uploading a new taskdef, then update the server from the previous to the newest version. Then usually the new version of the container spins up, and when it's up the old one is stopped automatically.

That is NOT the case anymore. Now the new container briefly gets PENDING, then it disappears again from the task list.

Looking into the container log, t

[2017-06-13 10:05] masutaka commented on #833
@optimisticanshul

Also me too. So I've added the following workaround to userdata.

[code]

I've avoided automatically update ecs-agent.

[2017-06-13 14:45] bpuglisi commented on #781
We just ran into this issue with the 1.14.2 agent.   Here are both the ecs-init and ecs-agent logs from around this time.

---- ecs-init.log ----------------------------------------------------------------------------
2017-06-12T20:07:42Z [INFO] pre-start
2017-06-12T20:07:42Z [INFO] Downloading Amazon EC2 Container Service Agent
2017-06-12T20:07:42Z [DEBUG] Downloading published md5sum from https:

[2017-06-13 15:08] coryodaniel commented on #731
I can check the Balance Metric next time we deploy. We were logging inside our application and the tasks never receive a SIGTERM and by never I mean we let the run for hours and they never received it. Not sure if that helps to point us in any other direction?

[2017-06-13 16:00] vsiddharth commented on #833
We have tagged `v1.14.1` as `latest` on docker hub.

If you pull `amazon/amazon-ecs-agent:latest` you should get `v1.14.1`

[code]

[2017-06-13 16:49] ernestm commented on #833
I'm also still getting v1.14.2 when I autoscale using the designated newest ECS AMI.  Our ECS clusters autoscale all the time so we're not pulling the agent container manually ourselves.  When the AMI starts, in ecs/ecs-init.log:

[root@ip-10-0-86-11 ecs]# more ecs-init.log
2017-06-13T14:30:03Z [INFO] pre-start
2017-06-13T14:30:03Z [INFO] Downloading Amazon EC2 Container Service Agent
2017-06-13T1

[2017-06-13 16:51] samuelkarp commented on #833
That's correct.  Each of the ECS-optimized AMIs has a specific version of the agent that is pre-cached.  Similarly, when you install ecs-init on a regular Amazon Linux instance, it'll grab a specific version of the agent rather than "latest".

[2017-06-13 17:08] samuelkarp commented on #781
@bpuglisi Your issue may be unrelated to what @tweibley reported.  v1.14.2 of the ECS agent has a bug leading to a deadlock; see https://github.com/aws/amazon-ecs-agent/issues/833.  We'll be releasing v1.14.3 that fixes that issue, but until then we recommend using v1.14.1.

[2017-06-13 18:34] ernestm commented on #833
Right... But on
http://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-optimized_AMI_launch_latest.html and http://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-optimized_AMI.html it says this AMI should be getting me 1.14.1, and it's not not, so I'm not sure as an ECS AMI consumer what I'm supposed to do to downgrade agent versions.  Though maybe some of these recent commits are

[2017-06-13 22:02] aaithal opened #844 "Determine a proper timeout for LoadImage"
`LoadImageTimeout` needs to be set based on benchmarking experiments to load a docker image. See https://github.com/aws/amazon-ecs-agent/pull/841/files#r121754481 for details.

[2017-06-14 00:02] vsiddharth commented on #833
We have now published a new AMI that includes the latest agent release.
The latest agent includes fixes to resolve the reported deadlock

The new AMIs can be found [here](http://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-optimized_AMI_launch_latest.html)

[2017-06-14 00:33] #833 closed

[2017-06-14 12:19] evanstachowiak commented on #839
@vsiddharth thanks, i will try this out. I'm new to go, so excuse any questions that should be obvious :)

[2017-06-14 12:25] milesgranger commented on #656
I second this. There are ways to work around this indeed. However, having the option for the end user to launch an image using `nvidia-docker` (for GPU instances) would alleviate a lot of development time and potential for errors; namely when drivers are inevitably changed.
Thank you.

[2017-06-14 17:23] coryodaniel commented on #731
@aaithal checked the burst metrics and it was 99.998% available at the time of the issue.

[2017-06-15 06:59] liorchen commented on #223
+1

[2017-06-15 12:03] csvan commented on #787
+1, also running Chromium inside ECS here. Next to impossible with default shm size.

[2017-06-15 16:28] Alonreznik opened #849 "ECS Task Stopped before docker stopped"
Hello!
We're facing a strange issue.
We're having handling of the SIGTERM and SIGINT in our code which make our process continue running when a stop task is getting into the container. However, it looks like the process is running and shutting itself down (as expected) but the task in the  ECS got stopped status long time before it really happened in the container.

We've configured our ECS_CONTAI

[2017-06-15 20:45] linuxfreakus commented on #787
+1, ditto on headless chromium.

[2017-06-16 01:15] jamessewell commented on #437
Any updates here? - this is a really needed feature

[2017-06-16 14:41] matthew-cox commented on #787
+1, I would really prefer support for this option vs implementing the possible work arounds

[2017-06-16 15:50] reedflinch commented on #731
Just wanted to drop in and say that I'm having a similar issue with tasks stuck in PENDING state.  I'm unable to get logs now, but can report back if necessary.

I've set `ECS_CONTAINER_STOP_TIMEOUT=5m` and I'm running ecs-agent v1.14.2 and Docker v17.03.1-ce.

[2017-06-16 16:05] trstephen commented on #787
+1, headless chromium is a shrinking violet with default 64mb shm

[2017-06-16 16:52] vsiddharth commented on #731
ecs-agent `v1.14.2` suffers from #833 which was resolved recently.
Since then we have released a newer agent `v1.14.3` and published new AMIs

[2017-06-16 17:02] reedflinch commented on #731
Perfect, thank you @vsiddharth. I have actually prepared to update to this newest ECS-optimized AMI this weekend 🙂

Side note: I was surprised to see this AMI update because I usually get notifications/emails of newly-released versions and had not. Understand that this was pushed out very quickly though, so not a problem now that I know!

[2017-06-17 04:51] charlieoleary commented on #843
Can you share a sanitized version of your task definition? It sounds like you either have your network mode set to `host` or you're binding the container to a specific host port, meaning you can only have one task per service per host due to port limitations.

[2017-06-17 11:58] luposlip commented on #843
I think the issue might have been related to ECS agent version 1.14.2. I see now that there is a new version 1.14.3.
One of my EC2 hosts were in sort of a locked situation where it couldn't stop an older running container. Not even manually with `docker INSTANCEID stop`.

After updating to 1.14.3 and an instance restart, it seems to work again!

[2017-06-17 11:58] #843 closed

[2017-06-19 13:47] jharley commented on #733
As of ecs-agent 1.14.2 Docker CE is working fine: I'm not 100% certain what has changed, but this is a resolved issue. Thanks for the diligence :+1:

[2017-06-19 13:47] #733 closed

[2017-06-19 20:09] vsiddharth commented on #849
@Alonreznik Could you please send us the logs for investigation ?
You can use the [ecs-logs-collector](https://github.com/awslabs/ecs-logs-collector) to obtain  relevant logs.

You could then send it to `sidvin at amazon.com`

[2017-06-19 22:40] marcoocram commented on #185
I'm having this same issue, with networkmode host and links message "container already exists" and without links, the containers can't connect between....any ideas?

[2017-06-20 04:26] nimboya opened #851 "Segment Fault"
I am using an apline image to run my python script on ECS and i consistently get this "Segment Fault" problem and the container restart.

This happens consistently thereby rendering the service almost useless

[2017-06-20 10:24] MrSaints opened #852 "Add support for `--init`"
[code]

https://docs.docker.com/engine/reference/run/#specify-an-init-process

[2017-06-20 19:05] nmeyerhans commented on #852
Hi @MrSaints. Just want to make sure we understand what you need here. You're just looking to ensure that exited processes get reaped by an init process, right? This will require some work on the ECS API in addition to the agent, and I want to make sure we properly capture use cases so we can assign an appropriate priority to that work. Thanks.

[2017-06-20 19:08] nmeyerhans commented on #851
Hi @nimboya. Can you provide logs showing the segfault? From your description, it sounds like it's something inside the container (possibly Alpine's python interpreter?) that's crashing. Logs will help us further diagnose what's going wrong.

Please feel free to post the logs here, or if you'd rather not post your logs on a public issue you can send them to me via email at nmeyerha at amazon.com.

[2017-06-20 21:55] MrSaints commented on #852
We currently run an ECS task that contains a process that spins other processes up. When those processes exit, they may not exit nicely. And consequently, they remain as zombie processes. Before, we would simply use something like `dumb-init`, and `tini`. But now, the latter is included in Docker, and can be used via the `--init` flag. Essentially, what we want is to run our process (within a Dock

[2017-06-22 02:16] pilgrim2go opened #854 "Clone ECS Service into another Cluster"
Hi,

In my production service, we use 2 cluster
`permanent cluster`
`autoscale cluster`
There are some services we need them in both clusters. That leads to my question
Can ECS support clone service in multiple clusters in the future?
That helps us a lot and better to have an API to clone ECS service.

Thoughts?

[2017-06-22 05:03] simplesteph opened #855 "Support for --stop-timeout"
Now that the main ECS Linux has been updated to Docker 17.03, we have the capability of specifying a timeout per task using:

[code]

Can ECS please support that?

[2017-06-22 11:33] bwalding commented on #815
We suffer from the same issue with bad images spawning repeatedly and consuming docker resources - we end up with the message below (we have a Ubuntu based images that run a very slightly modified version of the ECS agent).

This renders the ECS instance unusable until we cleanup / terminate it.

[code]

[2017-06-22 14:29] evanstachowiak opened #856 "Wrong link in email notification for releases"
Hi,

I hope this isn't too pedantic, but the link for releases that gets sent out in the notification emails leads to a 404. The correct link is missing a "v".

For example the last email had this link:
https://github.com/aws/amazon-ecs-agent/releases/tag/1.14.3

but the correct link is:
https://github.com/aws/amazon-ecs-agent/releases/tag/v1.14.3

[2017-06-22 17:21] aaithal opened #858 "ECS agent start fails on instance created from snapshotted AMI"
Repro steps:
1. Launch instance with Amazon Linux and ecsInstanceRole in default ECS cluster
2. Install ecs-init package
3. Start ecs, and let agent register
4. Create AMI from instance
5. Launch instance from new AMI and ecsInstanceRole, but new cluster
6. Instance doesn't register

[2017-06-22 17:42] samuelkarp commented on #856
Thanks for reporting! We'll get this fixed for the next time we send notification emails.

[2017-06-22 17:42] #856 closed

[2017-06-22 22:44] aaithal opened #859 "ECS agent doesn't reset task state when instance id is modified"
Repro steps:
1. Launch instance with Amazon Linux and ecsInstanceRole in default ECS cluster
2. Install ecs-init package
3. Start ecs, and let agent register
4. Run a task
5. Stop ecs
6. Modify the ec2 instance id in the state file
7. Start ecs
8. Inspect the state file/introspection API to illustrate that task ID from previous instance id is persisted in the state file

[2017-06-22 23:59] nmeyerhans commented on #827
Hi @djenriquez. The behavior you're describing, in which the credentials endpoint is removed when the ecs services (init and agent) are stopped, is expected. `sudo stop ecs` stops both ecs-init and ecs-agent, the latter of which is responsible for responding to credentials requests, so the iptables entry should not be left in place.

What I'm particularly interested in is the scenario from the fir

[2017-06-23 00:14] nmeyerhans commented on #854
Hi @pilgrim2go. Thanks for the suggestion. I wonder how much of this belongs in the ECS service itself and how much may be more appropriate for the [ECS CLI](https://github.com/aws/amazon-ecs-cli) or other developer tooling. What would you envision as a preferred workflow for cloning services between clusters?

[2017-06-23 07:19] pilgrim2go commented on #854
@nmeyerhans : I'm not pretty sure.
Task Definition is a standalone object. I can be run into any cluster.
Service could be a standalone object and then we can run it into any cluster also. Why not?
I'm asking this since creating service in UI is not simple as was before. Now we have to configure ALB/Target Group and Auto Scaling.
So a simple clone in service and simply selecting new cluster is muc

[2017-06-23 18:38] stefansedich commented on #852
With the upgrade to  17.03.1-ce this should be supported OOTB if it simply passes --init to docker run right?

[2017-06-23 18:50] MrSaints commented on #852
@stefansedich I believe so.

[2017-06-25 03:52] dwilkie opened #861 "/var/lib/docker/containers/CONTAINER_ID/CONTAINER_ID-json.log not rotated"
## Description

I'm using Elastic Beanstalk MultiContainer Docker instances and the disk space is filling up with the following logs in `/var/lib//var/lib/docker/containers/CONTAINER_ID/CONTAINER_ID-json.log`:

[code]
Source:
https://github.com/aws/amazon-ecs-agent/blob/master/agent/handlers/logging_handler.go

The logs also appear in `/var/log/ecs/ecs-agent.log.date`

I looked through the issues

[2017-06-25 05:13] dwilkie commented on #861
It looks like one of the mounted directories was causing the issue. This the following commit solved the issue but i'm not exactly clear why.

https://github.com/dwilkie/freeswitch-config/commit/a8b4c814b3b474e118b31445c89126861c7f89a6

[2017-06-25 05:13] #861 closed

[2017-06-26 02:43] optimisticanshul opened #862 "Auto Scaling desired count"
Here is my scalable target which says minimum capacity of 2 but still auto scaling changed my count to 0.
[code]

Message: Successfully set desired count to 0. Change successfully fulfilled by ecs. Cause: monitor alarm prod-xxx-svc-MemoryAlarmLow-10J4RTUH8WRH0 in state ALARM triggered policy prod-xxx-svc-scale-down

[2017-06-26 07:45] seren commented on #469
This would be useful for us as well

[2017-06-26 13:23] canha opened #863 "Disparity between Cloudwatch's reported RAM utilization and docker stats"
I've got multiple examples of this I'm but picking a particular case where a service's task definition with 750MB is reporting, on average, 70% utilization on the following Cloudwatch's metric:
[code]

but if I inspect the container docker stats it's using 99%, almost 100%. Where does this disparity come from? How can I get cloudwatch's values to report correctly? I've never seen these MemoryUtili

[2017-06-26 17:44] twehner commented on #809
Manually editing the task in Task Scheduler after it has been created and explicitly setting the run-as user password (by unchecking the "Do not store password" checkbox") will fix this problem.  So, perhaps it is related to session-0 isolation.

[2017-06-27 13:33] jakecollins opened #865 "Zombie reaping: add support for `docker run --init`"
It seems that the zombie reaping problem can now be solved by using `docker run --init`. It would be useful to be able to start ECS containers using this option.

https://docs.docker.com/engine/reference/commandline/run/#options

https://blog.phusion.nl/2015/01/20/docker-and-the-pid-1-zombie-reaping-problem/

[2017-06-27 21:21] nmeyerhans commented on #865
Thanks. We agree that zombies should be reaped. I'm going to resolve this request, though, as it's a duplicate of #852

[2017-06-27 21:21] #865 closed

[2017-06-28 07:12] samuelkarp commented on #492
@egafni @billyshambrook CPU, memory, and memory reservation [can now be overridden](https://aws.amazon.com/about-aws/whats-new/2017/06/amazon-ecs-runtask-and-starttask-apis-now-support-additional-override-parameters/) through the RunTask and StartTask API.

I'll leave this issue open as the other task definition fields are not yet supported for overrides.

[2017-06-28 16:31] nmeyerhans commented on #863
Hi @canha. With ecs agent version 1.14.0, released this past January, we made a change to the memory utilization metrics reporting to make it more accurately reflect the amount of memory in use by your application. Specifically, we changed the metric to exclude memory used by the linux page cache, since this is memory that can be reclaimed transparently by the kernel.

See issue #280 and PR #582 f

[2017-06-28 16:31] #863 closed

[2017-06-28 20:47] richardpen opened #869 "Migrate the "EC2MetadataClient" to the use "ec2metadata" from "aws-sdk-go""
Previously ECS Agent implemented the its own [EC2MetadataClient](https://github.com/aws/amazon-ecs-agent/blob/master/agent/ec2/ec2_metadata_client.go), now aws-sdk-go has provided the `ec2metadata`, we probably can get rid of our own with the one from [aws-sdk-go](https://github.com/aws/aws-sdk-go/blob/master/aws/ec2metadata/api.go).

[2017-06-29 00:09] drzhouq commented on #437
This is much needed feature. I don't understand why AWS does not agree with the users. The use case is fairly common. Let's say you have a database container (serviceDB) that needs to be connected by multiple app containers (serviceApp). Put the database container and app container in one task definition and link them is not going to work.

[2017-06-29 02:16] stefansedich commented on #852
@nmeyerhans was having a look into doing this as felt like something I could sink my teeth into, but I assume the API work is something that cannot be done from someone external? originally I thought it was going to be easy to add but then realized what you might have meant when you said "work on the ECS API" is something outside of the scope of the agent.

[2017-06-29 02:17] L226 commented on #294
I'm getting a very similar issue. Running ECS + ALB (ELB v2), with the ALB in public subnet, ECS in private subnet, in custom VPC and routes handled with a NAT gateway. Using the latest ECS-optimised AMI (ami-42e9f921). This is all terraformed (v0.9.5).

Agent log:

Instance docker config:

Instance ECS config:

ECS connection check:

My security group allows egress from 443 too, for example:

I h

[2017-06-29 03:12] opsline-radek commented on #768
I just created a PR for this: https://github.com/aws/amazon-ecs-agent/pull/870

[2017-06-29 04:30] optimisticanshul commented on #833
@vsiddharth even in 1.14.3 my tasks are stuck in pending state for hours.

[2017-06-29 07:06] jch254 commented on #3
+1!!!

[2017-06-29 15:20] vsiddharth commented on #833
@optimisticanshul The issue discovered with agent version`v1.14.2` should be mitigated by `v1.14.3`. Would it be possible for you to share the logs for further investigation ?

Please have a look [here](https://github.com/awslabs/ecs-logs-collector) for the logs we require.

[2017-06-29 15:31] jakecollins commented on #852
As expressed on #865, our organisation would also like to use this Docker feature.

[2017-06-29 18:17] nmeyerhans commented on #862
Hi @optimisticanshul. I'm afraid I'm going to need to redirect you to [AWS Support](https://aws.amazon.com/premiumsupport/) for your issues with Application Auto Scaling. ECS engineering teams aren't equipped to investigate Auto Scaling behavior.

[2017-06-29 18:17] #862 closed

[2017-06-29 19:29] mide opened #871 "ECS Tasks Stuck in Pending State"
Migrated to [AWS Support Case](https://console.aws.amazon.com/support/home?region=us-east-1#/case/?displayId=2262100011&language=en). Please feel free to close.

[2017-06-29 19:36] #871 closed

[2017-06-29 21:32] adnxn commented on #855
Hi @simplesteph, thanks for bringing this to our attention. This will require work on the agent codebase, as well the as the ECS API's task definition. Unfortunately we can't commit to a delivery date right now, but we will continue to track it as a feature request. Thanks.

[2017-06-29 23:28] jhovell opened #872 "Allow newer awslogs driver options"
I am guessing this is blocked on the ECS service because I can't even create task definitions with newer options such as aws-datetime-format, I get the error

[code]

taskdef:
[code]
.. but opening this issue for visibility on when it might be implemented.

For example (key for using awslogs driver for things like Java stack traces)

https://docs.docker.com/engine/admin/logging/awslogs/#aws-multil

[2017-06-30 01:17] optimisticanshul commented on #833
Definitely where i send them ?

[2017-06-30 04:36] optimisticanshul commented on #833
Steps to reproduce:
1) ECS Cluster 2 instances.
2) Deploy a sample service.
3) Redeploy

In ecs agent log
[code]

But output of docker ps
[code]

See tasks new tasks are stuck in pending state. If i manually run docker stop 274ba55bfca5 it deploys new tasks.

[2017-06-30 05:44] corydodt commented on #223
Opened almost 2 years ago at this point. Any status update?

[2017-06-30 14:10] rferreira commented on #772
hey folks, apologies for the slow response. Unfortunately, this issue hasn't resurfaced since I created this original ticket so I couldn't justify spending too much time on it. However, I did look into it today and, as noted this thread https://github.com/moby/moby/issues/18867, my issue is not reclaiming space of a running container (in which case fstrim makes total sense) but, instead, that dele

[2017-06-30 16:12] bndw commented on #258
@jonathannaguin The Container Agent Introspection API is documented [here](http://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-agent-introspection.html). It runs on all Container Instances on port `51678`.

172.17.0.1 is the Docker `bridge` network that all containers are connected to by default, see [here](https://docs.docker.com/engine/userguide/networking/#default-networks). So by ma

[2017-06-30 16:14] bacoboy commented on #258
While these hacks work, I think the intent for the issue is for the agent to report the docker container specifics back to the ECS mothership so it can be inspected using the SDK/CLI/Console.

[2017-06-30 16:20] bndw commented on #258
@bacoboy that's clearly the intent, but [these](https://github.com/aws/amazon-ecs-agent/issues/3) [various](https://github.com/aws/amazon-ecs-agent/issues/151) [features](https://github.com/aws/amazon-ecs-agent/issues/258) have been requested for ~2 years.

If you're in ECS and require these missing features, you must resort to these hacks.

[2017-06-30 17:00] samuelkarp commented on #772
@rferreira Thanks, I'll close this for now.

[2017-06-30 17:00] #772 closed

[2017-06-30 21:19] nikhilo commented on #3
I was able to start consul in ECS with not so shabby workaround `CONSUL_BIND_INTERFACE=eth0`
Here is the full command,
[code]

[2017-06-30 21:52] nikhilo opened #873 "Stopped task is still running on ECS host"
**Version: 1.14.3**

Today we deployed a new task definition for one of the services. Where web console showed following events:
[code]

But host is still running the task `5ddeb354-d090-42d4-90be-e86d8ff66940`
[code]

Since the task/instance is not registered in the ELB, in theory we have deployed the correct version.
But the next deploy **will** fail saying that there is no container instance av

[2017-06-30 21:58] samuelkarp commented on #426
@abatsakis We're working on attaching ENIs to tasks and allowing IP addresses per task.  Does the proposal in https://github.com/aws/amazon-ecs-agent/pull/701 address your use-case?

[2017-06-30 22:12] samuelkarp commented on #563
Looks like we've missed closing this, but Docker 17.03.1 is now available in the ECS-optimized AMI and has support for the `splunk-format=json` option.

[2017-06-30 22:12] #563 closed

[2017-06-30 22:20] samuelkarp commented on #695
@simplesteph Are your tasks using load balancers? If you use load balancers and set your container to fail the load balancer health check until it becomes healthy, you can use the `minimumHealthyPercent` and `maximumPercent` parameters to control how quickly your service deploys.

[2017-06-30 22:31] samuelkarp commented on #806
@songgao @jzila We haven't heard from you in a while, so I'm going to close this.  If you continue to run into problems, please let us know.

[2017-06-30 22:31] #806 closed

[2017-06-30 23:31] nikhilo commented on #873
It seems not using the ECS_CHECKPOINT creates a new container instance and the old containers launched by old agent become zombies. I am now using the checkpoint and now seeing correct behavior.

[2017-06-30 23:31] #873 closed

[2017-07-01 00:35] nmeyerhans commented on #839
Hi @evanstachowiak. It's been a while and we haven't hear anything from you, so I'm going to close this issue. Please don't hesitate to reopen it if you need to follow up.

[2017-07-01 00:35] #839 closed

[2017-07-01 19:10] bs-thomas commented on #269
+1  I'm hosting a ftp proxy daemon, and it needs to support a range of ports for passive mode.  The range is 200 ports, and is impossible to achieve at the moment.  Are there any plans to support this?

[2017-07-03 09:08] mounemoi commented on #236
+1

[2017-07-04 03:48] borgstrom commented on #746
This PR & gist were very helpful in moving our ECS agents to overlay2 -- thanks!

FWIW, we did this purely in user-data so that we could just keep using the official ECS AMI.

[code]

[2017-07-05 14:16] mancej commented on #789
We definitely need this feature ASAP, the workaround is a security risk.

[2017-07-05 17:45] vsiddharth commented on #833
@optimisticanshul you could send them over to sidvin at amazon.com.

[2017-07-06 13:50] debu99 commented on #225
same problem as mine...

<img width="1096" alt="screen shot 2017-07-06 at 21 44 13" src="https://user-images.githubusercontent.com/25805758/27914159-e5933fb2-6294-11e7-8e45-ac2f23f9393c.png">
<img width="1008" alt="screen shot 2017-07-06 at 21 49 24" src="https://user-images.githubusercontent.com/25805758/27914204-0819aaf8-6295-11e7-89c0-5942f2e164e9.png">

[2017-07-06 15:29] nathanpeck commented on #225
@debu99 Sorry its not clear to me, what is the issue in your screenshots?

[2017-07-06 18:03] cjbottaro opened #876 "Ensuring a task gets placed; memory_reservation=0 ?"
There are some tasks that I want to absolutely make sure get placed in the cluster, despite what the cluster resources are.  Would it be possible to create a task def with something like:
[code]
With the intent of ensuring the task gets scheduled no matter how much free memory is available on the container instance?

Thanks.

[2017-07-06 19:31] mwarkentin commented on #225
@nathanpeck I think that 6/7 tasks are running on the same instance (and the one that's not looks like a daemon that runs on all instances).

[2017-07-07 01:12] tachu opened #878 "Allow to register multiple containers in a task for application load balancing"
Right now since a service will only expose one port to a load balancer we need to run another container in the task that load balances incoming requests to all individual containers. For our particular case we need to run multiple containers of the same image that expose port n. Right now we have to setup service that includes 1 haproxy load container and 5 webservices that all map port 0 to port

[2017-07-07 17:13] abozhinov commented on #781
Hi @samuelkarp,
I have the same problem and use:
Agent version 1.14.3
Docker version 17.03.1-ce

2017-07-07T17:06:08Z [INFO] TaskHandler, Sending task change: TaskChange: arn:aws:ecs:eu-west-1:136432914479:task/90369435-dc1a-4b5d-a21e-608d9369266e -> STOPPED, Known Sent: NONE
2017-07-07T17:06:13Z [INFO] Pulling container code(136432914479.dkr.ecr.eu-west-1.amazonaws.com/code:v3.3.1) (NONE->RUNNING

[2017-07-08 00:05] adnxn commented on #876
[code]
Setting `memory_reservation` and `memory` ensures that the lower `memory_reservation` would be used for scheduling the container and it would be killed if it exceeds the `memory` parameter. So, you would be able to pack more containers into an instance using this strategy. However, it also leads to very confusing behavior when there's contention because of said oversubscription.

Docker Con

[2017-07-08 02:53] davidpelaez commented on #697
@aaithal I'm a little lost with the docs. For instance I have a cluster with +81% memory utilization in 15 t2.micro instances (considering the value shown as memory available in the instance list) and the console shows 8.01% for memory utilization. I don't understand how the difference can be so big under any circumstance. Are you certain this is not a bug?

[2017-07-08 03:03] davidpelaez commented on #697
Could you provide an example where the most recent behavior is a good metric to monitor cluster health? It took me about 2 hours to see that the number of running tasks wasn't increasing because the instances didn't have much memory available but of course this wasn't showing in the metric at all. Had the metric show available memory on the machines I would've been able to understand the problem q

[2017-07-10 12:23] sergiofigueras commented on #549
+1

[2017-07-10 22:10] woqer commented on #534
+1 on having a configurable grace period for ECS deploys (initial healthcheck time)

[2017-07-10 22:40] elasticsearcher commented on #437
Surprised no one's mentioned Weaveworks' integration with ECS, because it does pretty much what everyone here is asking for:
https://www.weave.works/docs/tutorials/old-guides/ecs/

Basically, Weave assigns an IP address to each container and runs an auto-managed DNS service, which lets any container in the same cluster address any other container by its name. The DNS service also automatically loa

[2017-07-10 22:52] elasticsearcher commented on #437
@errordeveloper or @2opremio, would you mind chiming in please? I thought I'd loop you in since Weaveworks' solution seems to perfectly address this long-standing ECS feature request. Are there any limitations/concerns that we should be aware of or it's stable enough to use in production? :)

[2017-07-11 07:04] 2opremio commented on #437
Yes, Weave Net should be able to solve most (if not all) the use cases presented above. It's production ready and we provide AMIs and Cloud Formation templates to run it.

See

https://www.weave.works/docs/scope/latest/ami/
https://www.weave.works/docs/tutorials/old-guides/ecs/
https://www.slideshare.net/mobile/weaveworks/weaveworks-at-aws-reinvent-2016-operations-management-with-amazon-ecs

[2017-07-11 08:23] wdun commented on #534
+1

[2017-07-11 14:29] elasticsearcher commented on #437
Thanks, @2opremio, that's great to hear! Weave Net makes connecting containerized apps so much easier.

[2017-07-11 14:40] coryodaniel commented on #731
We updated to the new agent and are still experiencing the issue. Are there any other logs we can get to you to troubleshoot?

[2017-07-11 17:12] optimisticanshul opened #880 "stuck deployments"
<img width="1061" alt="screen shot 2017-07-11 at 10 40 56 pm" src="https://user-images.githubusercontent.com/4547169/28080570-16ac22b4-668a-11e7-8c14-7854a88cf39c.png">

Deployment is kind of stuck old version still running from last two days.

[2017-07-11 18:41] dcosson opened #881 "Ability to write structured logs in JSON"
It would be great if the ECS agent logs and audit logs could write structured JSON log lines that could be more easily aggregated and queried to see what the agent is doing.

All of our docker tasks/services log structured logs to a central aggregator, and it could be useful to send the ECS agent logs to the same place and be able to query on different fields (for example, number of requests for c

[2017-07-11 21:34] adnxn commented on #880
Hi @optimisticanshul. I'm afraid I'm going to need to redirect you to [AWS Support](https://aws.amazon.com/premiumsupport) for your issues with service deployments. They will be your best option for handling issues related to deployments.

[2017-07-11 21:40] adnxn commented on #881
Hey @dcosson, thank you for voicing your use case and need for structured logging in the agent. Also note that the audit logs do maintain a specific formatted output as described in the [troubleshooting](http://docs.aws.amazon.com/AmazonECS/latest/developerguide/logs.html#task_iam_roles-logs) section of the ECS docs.

[2017-07-11 22:30] adnxn commented on #731
hey @coryodaniel - just clarify. Which agent version are you running? Are you on the latest ECS-optimized AMI as well?

Thanks for checking this. Since this doesn't seem to be the problem, we can move forward and start investigating debug logs. It would be very helpful if you can reproduce the problem with the agent running with Debug level logs and Docker running in debug mode.

If you're able to

[2017-07-11 22:31] #880 closed

[2017-07-12 10:46] abhishek-tamrakar commented on #676
[code]
And
[code]
And
[code]
I have almost the same issue that caused a downtime of around 8 mins, the task came up on same instance after that.

The last one came when the instance was already registered with ECS cluster, I dont want this to be repeated, please suggest the way out of this kind of issue.
We are not suing any proxy but all traffic via NAT.

[2017-07-12 10:55] abhishek-tamrakar opened #882 "ecs-agent crashed - Unable to discover poll endpoint after registering instance with ECS"
[code]
And
[code]
And
[code]
I have almost the same issue that caused a downtime of around 8 mins, the task came up on same instance after that.

The last one came when the instance was already registered with ECS cluster, I dont want this to be repeated, please suggest the way out of this kind of issue.
We are not suing any proxy but all traffic via NAT.

[2017-07-12 10:57] abhishek-tamrakar commented on #882
The issue https://github.com/aws/amazon-ecs-agent/issues/676 was related but had no solution, So i created this issue. Please help.

[2017-07-12 13:46] jicowan opened #883 "Agent introspection on Windows"
The ECS agent for Windows doesn't seem to support agent introspection.  When I curl http://localhost:51678/v1/metadata, I get the following:
curl : Unable to connect to the remote server
At line:1 char:1
+ curl http://localhost:51678/v1/metadata
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : InvalidOperation: (System.Net.HttpWebRequest:HttpWebRequest) [Invoke-WebRequest],

[2017-07-12 14:12] nimboya commented on #851
Sorry. It was fixed by the engineer, it was a code python code issue

[2017-07-12 15:54] #851 closed

[2017-07-12 17:12] samuelkarp commented on #883
@jicowan Are you attempting to do this from the host or from inside a container?  Windows should support the introspection API.

[2017-07-12 18:33] jicowan commented on #883
I am attempting to do this from the Windows container instance.  The container instance was missing the ECS instance profile.  After assigning a role to the instance, it started working.  Thanks.

[2017-07-12 18:33] #883 closed

[2017-07-12 20:21] MaerF0x0 opened #884 "CPUSet/MemSet"
In order to improve performance of ECS clusters, it'd be good for the agent to automatically assign
`--cpuset-cpus=""`  on behalf of containers.
A smart default could be to assign upto Ceiling(CPUShares/1024) CPUs, distributing tasks evenly across the cpus.

[2017-07-12 20:22] orfin commented on #247
Hi! as we also ran into the issue of secure passing env variables, we've just released small utility that handles that problem.

It's using AWS Parameter Store for injecting env vars on container startup. Check sample Dockerfile on: https://github.com/Droplr/aws-env

Cheers! :-)

[2017-07-12 22:16] adnxn commented on #882
Hey @abhishek-tamrakar - So our Metrics endpoint, TCS, does indicate there is an issue but this is not what is causing the problem you are seeing.

The log entries after `15:34:41` are expected, as your container instance was deregistered from the perspective of ECS.

We can also see that the websocket connection to our Agent Communication endpoint, ACS, was abruptly closed at `15:30:14`. This lea

[2017-07-13 00:03] adnxn commented on #872
hey @jhovell - thanks for bringing this to our attention.

yes it is! but we're tracking this request and it is on our roadmap.

[2017-07-13 06:25] abhishek-tamrakar commented on #882
Thanks, @adnxn for replying back. this was indeed an intermittent DNS resolution issue. I would also like to ask for a suggestion how to hande it at launch time if there is a way.
There is something else that happened at the same time. Let me show you few more logs. I can send you the one with actual id's on your email if that helps in any case, please let me know:

A new task was Started and then

[2017-07-13 15:35] zacharyfox commented on #810
I could really use this feature as well. We're using some older licensed software that is keyed to mac address and while we can run it on an instance using an ENI with the defined mac, it would be nice to move this to our ECS cluster.

I think the advanced usage that @blaines suggests would be great.

[2017-07-13 16:54] #876 closed

[2017-07-13 18:17] adnxn commented on #882
okay great, we got that one identified =]

you're correct, that should be the expected behavior.

yes please send them to adnkha at amazon dot com, having the actual id's would help us investigate this further. thanks !

[2017-07-13 19:17] traffetseder commented on #534
+1
(both docker healthcheck and on having a configurable grace period for ECS deploys (initial healthcheck time))

[2017-07-13 20:56] curena commented on #731
We're experiencing a very similar issue at my company. We have the latest AMI (as of today, amzn-ami-2017.03.d-amazon-ecs-optimized, ami-57d9cd2e.)

Whenever we deploy a new task definition, the ECS Agent attempts to stop the previously running containers, but the Docker daemon seems to just spin its wheels. On the agent side, 1 minute after the first time it issues a STOP request, we get the erro

[2017-07-14 00:33] adnxn commented on #731
hey @curena - given the logs you provided, we suspect the underlying issue is that docker is failing to stop the container. we can see this in the following log line. the agent receives the `DockerTimeoutError` error and does not transition the task to stopped, which is the expected behavior.

[code]
the following line in the docker debug logs is interesting and again indicative of something stran

[2017-07-14 03:31] jamessewell commented on #437
That looks great in the interim - but it doesn't change the fact that ECS needs overlay networks if it wants to stay relevant.

[2017-07-14 06:34] dario-simonetti commented on #437
I agree @jamessewell

[2017-07-14 13:08] IngmarStein commented on #258
For anyone looking how to get the dynamically allocated host port (for example for service discovery registration), here's a gist that illustrates @jwconway's workaround: https://gist.github.com/IngmarStein/c2495962534ba4a6cc8791bb25635607

Instead of relying on the shortened hostname, the code above reads the docker container id from the /proc filesystem.

[2017-07-14 14:06] debu99 commented on #852
is there any way to pass --init flag with ecs agent when dockers run in ec2?

[2017-07-14 15:44] cjbottaro commented on #876
@adnxn Hmm, that response spurs more questions.  Does the ECS Agent kill tasks with containers that are maxing out their memory?  I know that Docker doesn't.

I ran a container that just appends random data to an array in an infinite loop.  I ran it with a memory limit.  According to `docker stats` it quickly hits 100% and then keeps running.

So then I made a watchdog container that looks for oth

[2017-07-14 18:00] petderek commented on #834
We have updated the 'test' target to use the race detector in #857

[2017-07-14 18:00] #834 closed

[2017-07-14 19:12] nithinvenugopal opened #887 "ecs_agent_data.json does not reflect the correct value from ECS_CLUSTER"
I have ecs.config baked in the AMI with no ECS_CLUSTER key/value in it. When I launch a batch job, agent is intelligent enough to place the correct cluster name in the ECS_CLUSTER but if I open ecs_agent_data.json, it still has cluster as default.
Even if I delete ecs_agent_data.json from cloud-init, it still assigns to default cluster

So every time I launch a new batch job, this instance gets as

[2017-07-14 20:31] geerlingguy commented on #553
I had a 120s timeout, and still hit this a couple of times in the past few months. Simply rolling all the instances, or logging into the ECS instance in question then running `sudo service ecs restart` seemed to fix it.

[2017-07-14 21:27] nithinvenugopal commented on #858
When is this getting released? I think this is similar to the #887 issue I just raised

[2017-07-17 18:13] adnxn commented on #884
Hey @MaerF0x0 - Not all containers in ECS Tasks are bound to the core size (which is 1024 as of today) and we leave the decision of cpu placement to the kernel. If there is a single container running on the instance, it would be able to consume all cores today if needed and the CPU scheduling parameters are only effective when there's contention on the host's CPU resources. With the default cpuset

[2017-07-17 20:23] jhmartin opened #888 "Poor error handling when ECS_RESERVED_MEMORY > system memory"
In the case where ECS_RESERVED_MEMORY is set to a value higher than system memory, the agent log shows:

[code]

This is unhelpful until one inspects the client registration api to see that all the integerValues are to do with resources.

The agent should check if the value to be reported for the resources is negative and either refuse to register with an appropriate error message indicating the r

[2017-07-17 21:59] adnxn commented on #781
Hey @abozhinov - What do the agent logs show after the `2017-07-07T17:09:10Z [INFO] Connection closed for valid reason` entry? The agent's behavior in response to closed websocket connection is not clear from the logs provided. Does the agent eventually reconnect? Some more information would be helpful to determine is you are seeing the same bug we're tracking in this issue.

If you are seeing ext

[2017-07-17 22:56] adnxn commented on #740
closing issue. readme updated in PR https://github.com/aws/amazon-ecs-agent/pull/742

[2017-07-17 22:56] #740 closed

[2017-07-17 23:11] adnxn commented on #849
since we haven't heard back from you, we're going to close this issue now. please let us know if you encounter this again. thank you.

[2017-07-17 23:11] #849 closed

[2017-07-17 23:52] adnxn commented on #776
this issue was resolved from the ECS service team side.

@jveldboom, we're closing this issue for now. please let us know if you encounter this again and feel free to open a separate issue for your specific case. thank you.

[2017-07-17 23:52] #776 closed

[2017-07-18 00:28] CalvinWong-Reflektion opened #890 "ecs-agent offline but ALB still routing request"
we we ran into this issue where the ecs-agent is offline but ALB still routing request. hence the request will not be process since theres no container instance running there.

what could be the cause of this?

what can we do in the future to gather more details of this issue if it ever arise again?

[2017-07-18 08:31] emanuil-tolev commented on #247
I'm currently trying out https://github.com/promptworks/aws-secrets . Associated blog posts:

https://www.promptworks.com/blog/handling-environment-secrets-in-docker-on-the-aws-container-service

https://www.promptworks.com/blog/cli-for-managing-secrets-for-amazon-ec2-container-service-based-applications-with-amazon-kms-and-docker

Looks like it: a/ has a simple interface; b/ has been around for a

[2017-07-18 15:16] curena commented on #731
@adnxn I've sent you the requested items. Thanks in advance!

[2017-07-18 17:56] razazrobotics commented on #24
What does the failure reason "ATTRIBUTE" mean? That certainly doesn't qualify as a helpful error message!  Issue [535](https://github.com/aws/amazon-ecs-agent/issues/535) is related to fluentd but there's not thing in this message or that message that clearly indicated it's fluentd or any other thing!

[2017-07-19 09:25] EugeniuZ opened #894 "Delay transition to "Running" state for container"
We are deploying a container that starts some processes internally. It could take about 5 minutes until the processes in the container can service requests. Is there a way to tell the ecs-agent that even though the container is up it is not yet in a "Running" state ? Or perhaps would it make sense to add a configuration option to the ecs-agent to set the container state to "Running" after at least

[2017-07-19 17:02] saouddk opened #896 "Seccomp Unconfined Parameter"
Adding the seccomp:unconfined parameter is not getting passed to the container.

Parameters allow for label/apparmor however adding a parameter as: label:seccomp:unconfined does not work also.

[2017-07-19 19:03] samuelkarp commented on #894
Are you using an ELB or ALB with your service(s) today?  ECS respects the health check settings provided by ELB/ALB and will not count a task as healthy until it passes the health check.

If you're not using ELB/ALB, I think we're already tracking a slightly different mechanism to cover the same use-case with Docker `HEALTCHECK`s here: https://github.com/aws/amazon-ecs-agent/issues/534.

[2017-07-20 02:50] OscarBarrett commented on #753
We've run into this a couple of times. The agent disconnects permanently and the instance becomes unresponsive. With the latest occurrence, the task was still shown as running in the console.

@samuelkarp I have sent you some logs.

[2017-07-20 05:51] samuelkarp commented on #753
@OscarBarrett Thanks!  We'll look at those and update this as we have more information.

[2017-07-20 08:56] EugeniuZ commented on #894
We are not using ELB/ALB. I've checked #534 and it seems to address a more general issue of using docker healthchecks. I'll comment in that issue then. This one can be closed.

[2017-07-20 08:56] #894 closed

[2017-07-20 09:19] EugeniuZ commented on #534
We have a similar problem to @gunzy83 and would benefit from the following feature:

"
The ECS backend will need to consider the health status of newly-started tasks during a service update prior to stopping the old tasks.
"

We don't need atm the docker healthcheck feature after the healthcheck status reports that the container is healthy once the application was completely initialized. I should

[2017-07-20 14:23] TheLastWilson commented on #258
I really can't believe this hasn't been resolved. awslogs-stream-prefix is great and all if you are using awslogs. I'm trying to use syslog and it seems impossible to correlate the hostname/docker id to the ecs container id

[2017-07-21 06:03] dinvlad opened #898 "Feature request: override mount points for each task"
Hi Team,

Would it be possible to introduce an option to override volume mount path for each task? Right now, we have to register a new task definition just so we could change the mount path on a per-container basis. This introduces additional headache in how to keep track of various definitions, and is also rate limited by the task registration rate.

Our use case is batch processing of various d

[2017-07-21 13:05] miensol commented on #872
Any particular reason to block options that are directly passed "as is" to docker invocation?

[2017-07-21 21:16] petderek commented on #890
Hi @CalvinWong-Reflektion,

Sorry you are runnning into trouble with ALB and ECS. By design, ALB won't stop routing to a container instance when the agent is disconnected. This is because the agent may disconnect while containers in a Task are still active on the container instance.

Could you clarify a few questions:

* Are there any tasks running on the container instance?
* What health check se

[2017-07-21 22:05] CalvinWong-Reflektion commented on #890
according to the jira ticket that was created. there werent any container instance.
unfortunately we havent seen this since (a while ago now). so i cant see it being reproduced.

health check settings -

Protocol | HTTP
-- | --
Path | /
Port | traffic port
Healthy threshold | 5
Unhealthy threshold | 2
Timeout | 5
Interval | 30
Success codes | 200

[2017-07-21 23:12] petderek commented on #890
Thanks! I want to clarify a couple points:

* Agent will periodically disconnect and reconnect to our service as part of normal operation. A disconnected agent does not imply that tasks on a container instance are (or aren't) running.

* A disconnected agent will not affect ALB health checks. The health check should only be targeting your application container. [More information is available in ou

[2017-07-21 23:20] CalvinWong-Reflektion commented on #890
cool. thanks for clarifying!!! ya 🤞

[2017-07-21 23:20] #890 closed

[2017-07-24 08:20] kensaggy commented on #872
Could please share when in the roadmap can we expect this? This will greatly help with readability in CloudWatch Logs!

[2017-07-24 15:06] zaakiy commented on #300
I am also experiencing this same problem

[2017-07-24 17:17] adnxn commented on #876
Hey @cjbottaro, so just to clarify a few points.

If we set a memory limit for a container in Docker, the kernel will kill the container process if that limit is exceeded and this behavior is also described in [Docker documentation](https://docs.docker.com/engine/admin/resource_constraints/#limit-a-containers-access-to-memory). The task definition's `memory` parameter maps to Docker's `--memory=`

[2017-07-25 15:43] aboarya opened #901 "Agent consuming memory that seems to be invisible"
I am running the ECS Agent on an `Ubuntu 16.04` with an 8 GB EBS volume.  Doing a `df` on the Ubuntu host shows that there's only `10%` of space left and that many containers are consuming that space.

However running a `du` on the container shows no such memory usage.
[code]

[2017-07-25 17:22] devshorts opened #902 "Cloudwatch metric for when agent kills service"
Is there a metric for when the agent kills a service due to hard memory limits being exceeded? I am trying to configure cloudwatch alarms for this scenario or the scenario where services can't be placed due to constraints and am having a hard time finding a set of metrics or aggregate metrics that describe this.

If these don't already exist, is it possible to get them added?

[2017-07-25 17:43] adnxn commented on #884
I'm closing this issue for now since we haven't heard back. Feel free to reopen or comment if you have some more information about your specific use case. Thanks !

[2017-07-25 17:43] #884 closed

[2017-07-25 18:55] jamiegs commented on #748
The way we solved this problem where I work is we have a Lambda function which is triggered by ECS events that updates the desiredcount of all `distinctInstance` services to match the number of ecs hosts.

[2017-07-25 21:38] singhjagmohan1000 commented on #223
We need --cap-add SYS_PTRACE to view syscall info, as we can not run container in privileged mode. Please do something about this.

[2017-07-26 18:57] petderek commented on #902
@devshorts,
Thanks for suggesting this! We don't currently report a metric for that event.

It's not exactly what you asked for, but you could see if the [CloudWatch Event Stream](http://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs_cwe_events.html) addresses your use case. You could use these events to publish a custom metric if you want to setup CloudWatch alarms.

One clarification: t

[2017-07-26 19:09] devshorts commented on #902
@petderek I see, the complexity here is that its hard to tell the difference between a kill and a scale down if we use the event stream to just find stops.  We have metrics that log start/stop of containers already (since we hook into SIGTERM and log our own metric) but we can't determinsitically tell if we are either thrashing (i.e. the container is being started and stopped a lot) or just dynami

[2017-07-26 19:37] sesh-kebab opened #904 "How does the ecs agent pull images from ecr?"
I'm having trouble understanding somethings about how the ecs agent actually pulls images from hosted on aws ecr:

- How does the agent determine based on the image being pulled, that it is or isn't being hosted in ecr?

Although ECR is a private registry, the documentation here [Private Registry Authentication](http://docs.aws.amazon.com/AmazonECS/latest/developerguide/private-auth.html) doesn't

[2017-07-26 20:05] samuelkarp commented on #904
The agent pulls from Amazon ECR without additional configuration, as long as the IAM role you're using has access to ECR and to the repositories you reference.  If you're interested in looking at the code, you can see the agent's logic for obtaining credentials to pull from ECR [here](https://github.com/aws/amazon-ecs-agent/blob/v1.14.3/agent/engine/dockerauth/ecr.go).

Does that answer your quest

[2017-07-26 21:41] wprater commented on #339
Im having this same issue with `1.14.3`

[2017-07-26 22:42] sesh-kebab commented on #904
@samuelkarp thanks for the quick reply.

I somewhat understand how the ECR image is being pulled but what I can't determine by reading the code is how the ecs agent determines for a given image, (if it is in a public repo vs private repo vs ECR) how the agent determines which authentication method to use?

For example if I have an image: `hello.io/abc/imagex:1`, how does the agent determine whethe

[2017-07-26 22:59] samuelkarp commented on #904
Got it.  The agent receives that information as part of the payload from the ECS backend telling it to launch a task; you can see how that's modeled [here](https://github.com/aws/amazon-ecs-agent/blob/v1.14.3/agent/acs/model/api/api-2.json#L176-L183).  When the agent pulls, it checks whether the backend indicated that the image is in ECR or not and [gets an auth token](https://github.com/aws/amazo

[2017-07-26 23:33] sesh-kebab commented on #904
Oh I see. Thanks - I think I have all the missing pieces of the puzzle now.

[2017-07-26 23:33] #904 closed

[2017-07-27 12:15] nrcxcia commented on #809
I was able to work around this issue by replacing some of the userdata powershell as follows:

Remove the following lines:

`          $script =  "cd '$ecsExeDir'; .\amazon-ecs-agent.ps1"
          $repeat = (New-TimeSpan -Minutes 1)
          $jobpath = $env:LOCALAPPDATA + "\Microsoft\Windows\PowerShell\ScheduledJobs\$jobname\ScheduledJobDefinition.xml"
          if($(Test-Path -Path $jobpath)) {

[2017-07-27 16:27] treaves opened #905 "ECS agent never starts"
I am trying to use ECS with Jenkins.  Jenkins does create an instance in ECS, but, it never comes on-line.  There is a message in the ecstasy log file about "Error retrieving stats for container" and then it seems to shutdown.  After this time, there is then a message int he docker log that the agent does not exist.

I have attached the log files from running "ecs-logs-collector.sh".  As I am new

[2017-07-27 17:06] minzhang28 commented on #269
+1

[2017-07-27 18:00] kurtwheeler commented on #553
I was upgrading the size of my instances and when they came back online the tasks wouldn't start up because of "AGENT"... The docs recommended recreating the instances with a different AMI or sshing onto each instance and running the update command here. Is this the only time this can happen or could the ECS agent get an update at any time and go down? The potential of this happening at any time s

[2017-07-27 18:02] samuelkarp commented on #553
ECS does not support resizing instances today; you'll see some errors in the agent's log file indicating this.

The ECS agent does not itself automatically update.  On Amazon Linux and on the ECS-optimized AMI, security updates are applied at first boot and some of those may cause the agent to receive an update.

[2017-07-27 18:03] kurtwheeler commented on #553
Oh good to know. Thanks @samuelkarp

[2017-07-28 12:34] aboarya commented on #901
Any update on this? Any questions I can clarify to find a solution for this?

[2017-07-28 15:40] genexp commented on #437
We have a similar issue with eJabberd. We ended up deploying Kubernetes onto AWS using KOPS.  It makes all of this trivial.

[2017-07-28 16:08] adnxn commented on #887
hey @nithinvenugopal - to clarify a few things

does your AMI have a baked in ecs_agent_data.json as well? it is possible the agent is restoring stale state and joining the default cluster.

are you able to verify that cloud-init is deleting the ecs_agent_data.json from cloud-init logs?

i'm curious to see what the agent logs say at agent start up. would you be able to post them here? feel free to

[2017-07-28 16:15] adnxn commented on #882
I'm closing this issue for now since we haven't heard back. Feel free to reopen or comment if you have some more information (or incase I missed your email !) about your specific use case. Thanks.

[2017-07-28 16:15] #882 closed

[2017-07-28 21:57] sharanyad commented on #223
Thanks for all the comments here!  We've been looking into how to support this and think we'll take the following approach:
* We'll add new fields to the task definition to indicate Linux capabilities to add and drop
* We'll add a way for the ECS agent to indicate what capabilities are known by the kernel; this will ensure that a given task definition is actually placeable on your container instan

[2017-07-28 22:17] nmeyerhans commented on #223
IMO it's not actually worth auto-detecting and registering support of individual capabilities. The list of capabilities that the kernel supports really doesn't change very much over time. The [commit history](https://git.kernel.org/pub/scm/docs/man-pages/man-pages.git/log/man7/capabilities.7) for the capabilities manpages suggests that no new capabilities have been added since at least 2014, and t

[2017-07-29 07:16] TheTweak commented on #855
Seems to be supported now through ECS_CONTAINER_STOP_TIMEOUT http://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-agent-config.html

[2017-07-29 18:14] eukaryote commented on #223
The only one of the three bullet points that I would make use of is the first one:

 - We'll add new fields to the task definition to indicate Linux capabilities to add and drop

Also, please don't overlook 'ALL' as an option.

I'd prefer a simple implementation that just passes through the capabilities to Docker as provided. I know which kernel versions I run, which capabilities they support, and

[2017-07-31 12:33] fabiangebert commented on #549
+1

[2017-07-31 13:20] mrnugget commented on #716
I'm running into the same issue: while there's space left on the attached EBS volumes, docker can't pull the complete image down. Here is one of the relevant lines in the `ecs-agent.log`:

[code]

The error contained in this line: `write /var/lib/docker/tmp/GetImageBlob102484030: no space left on device`

Now, as @andrew-aladev already reported, it seems like `/var/lib/docker/tmp` does not sit on

[2017-07-31 16:04] fadwa-corexpert opened #907 "ECS agent crushed and won't restart"
i m using ecs in an amazone linux , i ran into a problem where my container crushed and all tasks launched by the service are stopped immediately .

when i check my machine i found the /var/lib/ecs/data/ecs_agent_data.json file corrupted
i'm using ecs-agent 1.14.2
and i download and launch my docker and ecs-agent from the user data

thanks for your help

[2017-07-31 20:34] DougHaber commented on #258
On the logging side, this would be a lot easier if the ECS provided the task id via template markup for the logging tag.   For example, Docker provides these:

https://docs.docker.com/engine/admin/logging/log_tags/

If there was a `{{.TaskID}}`, then we can set the tag to something like `{{.TaskId}}/{{.Name}}`.  If using syslog, we can then extract it on receipt and set the file path based on that

[2017-08-01 12:39] canha commented on #901
`df`, at most, shows you that those particular mounts seem to be to on the same filesystem where `/` is, and that _that_ filesystem is getting filled up. You'll need to investigate a bit with `du` on the host to see what folders/files are taking up the most space.

[2017-08-01 20:48] jahkeup commented on #907
Hi @fadwa-corexpert!

Can you provide me with the logs for your instance? From the information you've provided it appears that you're running a known affected version of the agent that we released an immediate bugfix for; you may want to try running with 1.14.3 to see if the problem you're running into has been addressed. Regardless, it would be helpful to look over the logs and see what caused th

[2017-08-01 20:48] stefansedich commented on #852
Any movement on this one?

[2017-08-02 12:35] fadwa-corexpert commented on #907
@jahkeup it's was in fact a problem with the ecs-agent version , i never got the notification that they're is a new version and the old one was bugged .
thanks for you're help

[2017-08-02 15:45] #907 closed

[2017-08-02 17:03] jhmartin commented on #469
A specific use case for this is the storage of the [Varnish VSM file](https://varnish-cache.org/docs/trunk/reference/vsm.html), where Varnish is very sensitive to slowdowns in writes to this temporary file. Mounting this directory into tmpfs would insulate it against EBS latencies.

[2017-08-02 18:15] jahkeup commented on #896
Hello @saouddk! Thanks for the report!

Unfortunately we don't have support for the requisite seccomp parameters in the Task Definition at this time. We'll be tracking this as a feature request.

[2017-08-02 19:41] jahkeup commented on #905
Hello @treaves!

Thanks for providing your logs with your issue!

As a precaution I have removed the links you've provided as they appear to contain hostnames and tokens used for Jenkins node registration.

I looked over the logs and noted that the containers are starting but are rapidly exiting and thus transitions from RUNNING to STOPPED within 2 seconds of transitioning. I believe the issue lie

[2017-08-02 20:44] jahkeup commented on #855
Hey @TheTweak! Thanks for the pointing out that configuration environment variable. `ECS_CONTAINER_STOP_TIMEOUT` does cause the Agent to kill containers after timing out, but this configuration setting is global and cannot be set or overridden on a per-task basis. If I understand @simplesteph correctly, it would be desirable to configure each Task independently to give containers more or less time

[2017-08-03 01:29] jhovell commented on #872
@kensaggy as a workaround you can write logs to disk or a docker volume and run the CWL agent as a sidecar container. That's how we're working around this. Could probably take the time to publish a Dockerfile / task definition template if you want.

[2017-08-03 14:57] treaves commented on #905
Thank you for the response.

I didn't think there was any sensitive data it what I posted; but, I'm still fairly ignorant about this.  Working to overcome that.

When I look at my ECS area in the console, I see no Task definitions. So I'm guessing the Task is created by the Jenkins plugin.  So I'll try to (again) get them to look at it.

[2017-08-04 04:13] AlexMarchini commented on #787
+1, also stuck until this is implemented.

[2017-08-04 04:26] mkleint commented on #787
we are also waiting for the Amazon ECS AMi to contain latest docker daemon to at least be able to change the default size of shm to be bigger than 64M

[2017-08-04 17:46] adnxn commented on #872
@kensaggy - thanks for your sharing feedback and calling out readability in CloudWatch logs. Getting specific use cases and pain points is very helpful for prioritizing our feature requests. =]

Also - Sorry, we currently have no public roadmap.

[2017-08-04 17:46] adnxn commented on #872
@miensol - good question! We are actively collecting uses cases and evaluating ways to add support for this feature in the agent. Your feedback is appreciated and has been noted internally. To answer your question in the most direct way possible I need to describe how the agent calls Docker today and share our current thoughts.

The ECS Agent creates/starts containers by interacting with the docke

[2017-08-07 14:53] devshorts commented on #225
+1 on rebalancing when the cluster grows

[2017-08-07 14:54] pankajv82 commented on #788
Any target date to add this feature?

[2017-08-07 18:44] jahkeup commented on #898
@dinvlad thanks for the suggestion and identifying a use case for it! We are tracking this as a feature request.

[2017-08-07 21:07] jahkeup commented on #901
Hi @aboarya, Docker uses an overlay filesystem to reduce actual disk usage and share layers between container images. It appears you're using the aufs storage backend which uses a CoW (Copy on Write) approach to eliminate duplication, Docker's [aufs docs](https://docs.docker.com/engine/userguide/storagedriver/aufs-driver/) explain the filesystem specifics in technical detail. To see what the actua

[2017-08-08 10:57] lukebarton commented on #417
Having run ECS for a few months now, we've had a handful of instances which refuse to deploy tasks. They get stuck "PENDING" indefinitely. Manually stopping the task usually sees it distributed onto another instance. Sometimes it'll start on the same instance again and end up PENDING again.

The only full resolution I've found is restarting the instance which works, but eventually one of our insta

[2017-08-08 18:33] miskiw commented on #731
I am also seeing this issue fairly consistently now with ECS agent v1.14.3. Docker v17.03.1-ce

I see the agent is able to pull the new image but doesn't seem to start the new image and will not kill the older image.

[2017-08-09 10:51] xennygrimmato opened #919 "Get pending ECS Tasks"
Some of my tasks remain Pending for a long period of time and I have to manually "Run more like this" from the UI to get them Running.

A. Is there a programmatic way to find pending tasks?
B. Does ECS internally handle conditions in which tasks remain pending for a long time and schedule them to run on a different container instance?

[2017-08-09 15:24] piotrbulinski commented on #469
In some cases, it's sufficient with using /dev/shm (which is tmpfs and has 64M by default).

[2017-08-09 16:40] jhmartin commented on #469
@piotrbulinski I looked at that, but unfortunately my Varnish VSM file is about 80MB.

[2017-08-09 16:44] piotrbulinski commented on #469
@jhmartin indeed, in some cases it will not be enough. Unfortunately for you the --shm-size is not supported either (#787)...

[2017-08-09 19:04] pcgeek86 opened #920 "ECS_RESERVED_PORTS environment variable should include TCP 5986 as default port on Windows"
TCP 5986 is the default port that Windows Remote Management (WinRM) service listens on, if configured with a TLS listener. I'd suggest adding this to the default list of reserved ports for the ECS Agent. WinRM is the service used for PowerShell Remoting connections.

TCP 5985 is already included, but that is the default for unencrypted HTTP connections.

Cheers,
Trevor Sullivan
Amazon Web Services

[2017-08-10 01:53] Kgirthofer commented on #748
FWIW I created a terraform module that you can use to build the lambda function and all the underlying needed items to handle this. Much easier than blox - and less jenky than setting to 2000
https://github.com/kgirthofer/service_shuffler

[2017-08-10 11:49] oogali commented on #225
My two cents...

I'd imagine that it'd be unwanted behavior to include by default, so it should be something that the user should opt-in to on a per-service basis -- if you're running a web app behind a load balancer or anything ephemeral, it's relatively safe to "move" these.

(By "move", I mean start a new instance on the new container instance, without the count of tasks in the RUNNING/PENDING

[2017-08-10 12:09] Zetanova commented on #225
I would already be happy if an EC2 container instance would be drained when
it has a low credit balance and activated on a specific higher limit.

The autoscale feature could manage the rest to add more EC2 instances.

The main problem is just that if an tX instance is out of credits,
it is in ecs online and healthy node/container
but in real it is a "unhealthy" node that cant surf all services

[2017-08-10 12:43] fadwa-corexpert opened #921 "ECSinstances won't deregister automatically"
i'm testing ECS , whenever i change something in the EC2 instance i get a new ECS  instance added in my cluster.
the problem that the old containers won't deregister on their own , and that might cause a problem with the " /var/lib/ecs/data/ecs_agent_data.json " file that register the configuration of the old cluster, this will lead to the ecs agent not starting and we end up with a cluster withou

[2017-08-10 14:38] lucabotti commented on #258
@IngmarStein your gist fails at line 108 - not really into GO but...

[2017-08-10 14:51] IngmarStein commented on #258
@lucabotti you can comment on the gist, no need to spam the thread here :) I've added the missing import, thanks for letting me know!

The gist itself is just illustrative and shows how to solve the problem. It's not complete, i.e. you need to do something with the gathered information like passing it to your task.

[2017-08-10 17:30] richardpen opened #922 "Upgrade go docker client to fix the data race in integration test"
After enabled the race detector in the integration test, the integration tests in `agent/engine` occasionally failed due to the data race in go docker client. Go docker client has fixed it in this [commit](https://github.com/fsouza/go-dockerclient/commit/57f271a137c170928e11cc16db86a1a8d5026dff). See below for the details of this data race:
[code]

[2017-08-10 20:53] hltbra commented on #511
@samuelkarp, @aaithal: I am having the same issue and I have logs. Should I open a ticket? I'd appreciate if you can help me debug this, but I don't want to leave my broken container error'ing out for much longer. My work email is hugo at yipitdata.com

I am running the latest agent (ECS-optimized AMI ami-04351e12).

Thanks

[2017-08-10 21:01] aaithal commented on #511
@hltbra I'm sorry that you're running into this issue. Please create a new github issue or a support case via the AWS Developer Support program. Thanks!

[2017-08-10 21:34] hltbra commented on #511
@aaithal: cool. I created an AWS Support ticket with logs from my application and the ECS agent (case ID 4260162261).

[2017-08-11 09:32] BastianVoigt commented on #447
Could you add this to the documentation page? http://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-agent-install.html.
Just wasted hours searching for the cause of this problem

[2017-08-11 09:35] BastianVoigt opened #923 "Agent requires sysctl net.ipv4.ip_forward = 1, please add this to the documentation"
From issue #447 I learned that net.ipv4.ip_forward=1 must be set in sysctl for the containerized apps to be able to access instance metadata, which is required for passing IAM roles to the container apps.
Please add this to the documentation page
http://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-agent-install.html

[2017-08-11 10:37] #923 closed

[2017-08-11 10:38] BastianVoigt commented on #923
Sorry, this was entirely my fault as I stored the iptables rules in some wrong place. Ignore me :)

[2017-08-11 16:11] pdefreitas commented on #549
+1

[2017-08-11 16:58] macdiesel commented on #549
+1 again, still using the workaround for this.

[2017-08-12 11:42] xennygrimmato commented on #549
@samuelkarp Any update on this feature request?

[2017-08-14 07:13] lawrencepit commented on #223
We want to do `--cap-drop=all --cap-add=sys_ptrace`

See also: http://rhelblog.redhat.com/2016/10/17/secure-your-containers-with-this-one-weird-trick/

[2017-08-14 13:35] pdefreitas commented on #716
I am having the same issue as @mrnugget described. The VFree shown in sudo vgs is quite small compared to the VSize. I am sure my pool is big enough and it has free space. However it fails pulling a 8.2 Gb "optimized" image from my ECS repo.

[2017-08-15 14:23] darrylb-github commented on #225
+1 for rebalancing

[2017-08-15 19:18] jdreaver commented on #789
Are there any workarounds to set `sysctl` parameters until this feature is implemented? In particular, I want to set `net.ipv4.ip_local_port_range` and `net.core.somaxconn`. There is a lot of advice on the internet about workarounds, but a lot of it is old and I want to follow best practices here without shooting myself in the foot.

[2017-08-15 22:29] coen-hyde commented on #469
I don't like being just another +1 but this is essential for running readonly containers

[2017-08-16 12:52] JonCubed commented on #24
@aboarya a failure reason of `Attribute` means one or more `requiresAttributes` of the task definition failed to match the attributes of the container instance

[2017-08-16 21:42] rodmaz commented on #852
+1

[2017-08-17 14:39] RGuilfoyle opened #931 "ECS unlisted endpoint?"
I have ECS running in a relatively locked down VPC in which I have to whitelist URLs.

I have whitelisted the ECS api endpoint (ecs.eu-west-1.amazonaws.com) according to http://docs.aws.amazon.com/general/latest/gr/rande.html#ecs_region.

I am not seeing errors accessing ecs-t-1.eu-west-1.amazonaws.com.

The IP is in the same subnet as the "correct" API endpoint, but is not listed, is this an erro

[2017-08-17 17:38] richardpen commented on #905
@treaves Since we haven't heard from you for a long time, I'm closing this issue for now, feel free to reopen it if you experience the problem again.

Thanks,
Peng

[2017-08-17 17:38] #905 closed

[2017-08-17 18:00] richardpen commented on #919
@xennygrimmato Sorry for the late response, if you still have this issue, could you send me the logs that can be collected by the [ecs log collector](https://github.com/awslabs/ecs-logs-collector) along with the task ids that has been pending for a long time. If you're not comfortable publishing the logs publicly, please send to my email: penyin (at) amazon.com.

On the instance you can use the [e

[2017-08-17 18:17] richardpen commented on #921
@fadwa-corexpert Please correct me if I misunderstand.

Are you make a new AMI of the instance after you made some change, or can you elaborate the steps what you did to reproduce this problem?

We already have a [fix](https://github.com/aws/amazon-ecs-agent/pull/892), if the agent was started on a different instance it will registered as a new instance into the cluster. Will that solve your probl

[2017-08-17 18:44] richardpen commented on #931
@RGuilfoyle Are you mean you see the error for "ecs-t-1.eu-west-1.amazonaws.com"  or you are not?

This endpoint along with `ecs-a-x.eu-west-1.amazonaws.com` are the endpoints used by ecs-agent to communicate to our backend. See details [here](http://docs.aws.amazon.com/AmazonECS/latest/APIReference/API_DiscoverPollEndpoint.html). So if you want the ecs-agent to work, you need to whitelist these t

[2017-08-18 06:33] chaithuzz2 opened #932 "ECS CannotPullContainerError: failed to register layer: ApplyLayer exit status 1 stdout: stderr:"
Hi

**My Cluster configuration:**
Instance type: m4.large
Number of Instances: 2
Provisioned data volume : 100 GB

**Task Definition**
docker registry: ECR registry
Image Size : 16.5 GB

**Service**
Number of tasks - 1

I spawned a service with above configuration. I get the following error and the task stops.

    2017-08-18T06:12:39Z [INFO] Starting Agent: Amazon ECS Agent - v1.14.3 (15de319)
	2

[2017-08-18 12:39] #921 closed

[2017-08-18 17:17] richardpen commented on #932
@chaithuzz2 Thanks for reporting this to us, this is duplicate of #716. Docker will use the `/var/lib/docker`(in root volume) for staging the image when pulling, so the 16.5 GB image won't fit into that. As from the comments in that issue, there are possibly several options to work around:

1. When launching the instance, adjust the volume size so that it has enough space for your image.
2. Redire

[2017-08-19 02:36] jamesongithub commented on #730
yes, we've been running it for a weeks now. haven't seen it, although haven't had any network issues yet.

[2017-08-19 13:41] qpleple commented on #549
+1

[2017-08-20 05:04] mne1991 opened #933 "[REQUEST FEATURE] Force health-check"

[2017-08-20 05:06] #933 closed

[2017-08-20 13:41] revmischa commented on #462
I would really like a way to run an ECS container with a TTY

[2017-08-20 13:42] bithavoc commented on #462
Gave up on this, switched to Rancher and never looked back

[2017-08-20 13:44] revmischa commented on #754
@richardpen You say track #462 for updates but it's been closed. Please reconsider adding support for PTTY allocation of containers. All it takes is one flag!

[2017-08-21 06:25] chaithuzz2 commented on #932
@richardpen Thanks for the reply. I have reduced the image size by removing unnecessary files and I put a bare minimum image which is now running.

[2017-08-21 06:25] #932 closed

[2017-08-22 10:06] amitsaxena commented on #225
Wouldn't using 'binpack' task placement strategy help with rebalancing in the scenarios described above. It's described in more detail here:
http://docs.aws.amazon.com/AmazonECS/latest/developerguide/task-placement-strategies.html

binpack makes sure that the instance is utilized to the maximum before placing the task on a fresh node. I understand that there will be edge cases where task placement

[2017-08-22 16:41] cabbruzzese commented on #681
Saw https://github.com/Microsoft/go-winio/issues/41 when building in go 1.8. We should include https://github.com/Microsoft/go-winio/pull/48

[2017-08-22 16:58] devshorts commented on #225
@amitsaxena I'm not sure that solves the problem at all. Binpack isn't HA since it will try and pack as many items on the box as possible.

The issue in this ticket is that you want to have even _spread_. So as you add more nodes to the cluster you want to maximize HA by moving tasks off of nodes that are more heavily loaded onto newer nodes that are less heavy loaded. This way each node is utiliz

[2017-08-22 17:08] ianseyer commented on #312
can this please be clearly documented? this is in no way intuitive.

[2017-08-22 18:40] kensaggy commented on #872
Also - Sorry, we currently have no public roadmap.

@adnxn Well the use-case is pretty general... if you follow the 12-factor app principals for example (or some of them) you'll be outputting to `stdout`... even the simplest `console.log`/`print` of an error with its stack will create multiple lines which are ingested as separate events in cloudwatch, each one prepended with the timestamp - makes

[2017-08-22 23:59] richardpen commented on #798
Also we probably need to remove legacy code related to `SubmitContainerStateChange` api.

[2017-08-23 11:47] alinpa commented on #787
+1, I am waiting to see this feature implemented.

[2017-08-23 17:34] aabrahamian commented on #269
+1

[2017-08-23 19:22] sijocherian commented on #3
+1 , want to use consul

[2017-08-23 20:34] stefansedich commented on #852
Any updates yet as to how long this one might be? will help me decide if I use the init wrapper in all of our containers or just wait for the support to be added which I would prefer

[2017-08-23 23:39] dcosson opened #940 "A way to link ALB logs to the ECS Task they connected to"
I have some services (but this should apply to tasks running outside of a service too) that expose a single port and don't specify the `hostPort` parameter, so that ECS and the ALB target group can map them automatically to an open port and run more than one instance of a task on a single ECS Host Instance.

In my logs, I would like to be to filter down to showing the ALB access logs with all of t

[2017-08-24 00:22] nick-wellinghoff-sp commented on #198
Is there any update on this?  Is there a better way that has evolved over the last 2 years?

[2017-08-24 02:54] nick-wellinghoff-sp commented on #437
Another example use case. I am hosting a container which runs third party code where I want to restrict all outgoing routes. I lock down the container with iptables but lets say the third party code exploits a vuln and gains privileged escalation. Now they can override container iptables and get out to the net. If I had a user defined network that forced the container to use a restricted gateway I

[2017-08-24 07:04] JonCubed opened #942 "ECS Agent doesn't start on latest Windows Core AMI"
I fired up the latest Windows Core With Containers AMI (image name: `Windows_Server-2016-English-Core-ContainersLatest-2017.08.09`, Ami Id: `ami-4a16f432`) today to find the ecs agent wouldn't start with the following:

[code]

I did manage to get ecs agent working with the previous image.
image name: `Windows_Server-2016-English-Core-Containers-2017.08.09`
Ami Id: `ami-ad1afad5`

[2017-08-24 08:49] L226 opened #943 "CannotPullContainerError, ECS Service task fails to start"
So here's a funny one, repeated CannotPullContainerError: API error (404) for one of our services. We have multiple containers running in production, attempted to deploy another today using our CI stack. Keep getting the above error even though we're using the exact same process for our existing services.

1. Application docker image built on CI stack
2. Image pushed to ECR and tagged with the dep

[2017-08-24 16:22] richardpen commented on #198
@nick-wellinghoff-sp Thanks for reaching out, our engineer is working on the feature and the PR #913 is almost done. Please track this PR for updates.

Thanks,
Peng

[2017-08-24 16:58] richardpen commented on #942
@JonCubed Thanks for reporting this to us, the agent won't work for docker version newer than 1.12 on windows, due to docker removed support for old APIs in docker/docker#27908. We are tracking this in #729. But the agent can still work with docker < 1.13 in previous image. I'm going to close this issue for now, please comments on the issue #729 instead.

Thanks,
Peng

[2017-08-24 16:58] #942 closed

[2017-08-24 17:05] samuelkarp commented on #729
An update here: while we've been working on support for newer API versions, we've run into some issues with pulling the `microsoft/windowsservercore:latest` image with the newer API version.  We're holding off on releasing a new agent for Windows until we've addressed these issues.

[2017-08-24 17:24] richardpen commented on #940
@dcosson Thanks for the details of your use case, it helps us a lot to understand the feature request. Currently we are working on the container metadata service feature which will expose the metadata of container including the port mapping and taskArn information to container. So inside the container, the process can get the taskArn and the hostPort it uses. Would this feature solve your problem?

[2017-08-24 18:39] richardpen commented on #730
@jamesongithub I'm closing this for now, feel free to reopen it if you run into this issue in the future.

[2017-08-24 18:39] #730 closed

[2017-08-24 21:40] richardpen commented on #753
@krishan-carbon Sorry for the late response, after looking through the logs it appears that the agent has some problem connect to the internet indicated by the error in the logs. So by the time where the agent was disconnected, does the instance has any problem to connect to the internet?
[code]

I also tried to reproduce the issue with `stress` command to consume all the available memory on the i

[2017-08-24 21:50] kristiantakvam opened #945 "Support `--pids-limit` `docker run` flag"
Related to #502. Without this flag, it's cumbersome to prevent fork bombs in containers.

[2017-08-24 22:12] JonCubed commented on #942
@richardpen thanks for the explanation and reference.

[2017-08-24 22:15] JonCubed commented on #729
As mentioned in #942 the latest Windows Core With Containers AMI (image name: `Windows_Server-2016-English-Core-ContainersLatest-2017.08.09`, Ami Id: `ami-4a16f432`) is running a non-supported version of docker. Does this mean that we will need to stick with `Windows_Server-2016-English-Core-Containers-2017.08.09` (Ami Id: `ami-ad1afad5`) going forward until the agent can support later versions of

[2017-08-24 23:03] samuelkarp commented on #681
Go 1.9 [is out](https://blog.golang.org/go1.9).

[2017-08-24 23:38] marcovzla commented on #236
+1

[2017-08-24 23:44] myedibleenso commented on #236
+1

[2017-08-25 00:09] dmulter commented on #437
+1 I just want to be sure that my ECS task links still work, or have an equivalent, when Docker eventually removes the deprecated legacy links feature.

[2017-08-25 04:10] L226 commented on #943
Update - updating the AMI to ami-c1a6bda2 with docker version 17.03.2-ce and agent version 1.14.4 did not solve this issue.

[2017-08-25 10:46] s-maj opened #949 "Log level on errors"
Hello,

I am trying to parse logs from ECS Agent, mostly to spot errors like this:
[code]
Is INFO log level on errors intentional?

[2017-08-25 16:19] richardpen commented on #858
@nithinvenugopal we have released this in [v1.14.4](https://github.com/aws/amazon-ecs-agent/releases/tag/v1.14.4).

[2017-08-25 16:19] #858 closed

[2017-08-25 16:19] richardpen commented on #887
@nithinvenugopal Based on your comments in #858, I'm closing this for now, feel free to reopen if you still have question.

[2017-08-25 16:19] #887 closed

[2017-08-25 16:19] richardpen commented on #820
Released in [v1.14.4](https://github.com/aws/amazon-ecs-agent/releases/tag/v1.14.4)

[2017-08-25 16:19] #820 closed

[2017-08-25 16:19] richardpen commented on #812
Released in [v1.14.4](https://github.com/aws/amazon-ecs-agent/releases/tag/v1.14.4)

[2017-08-25 16:19] #812 closed

[2017-08-25 16:20] richardpen commented on #888
@jhmartin The fix has been released in [v1.14.4](https://github.com/aws/amazon-ecs-agent/releases/tag/v1.14.4)

[2017-08-25 16:20] #888 closed

[2017-08-25 16:20] richardpen commented on #859
Released in [v1.14.4](https://github.com/aws/amazon-ecs-agent/releases/tag/v1.14.4)

[2017-08-25 16:20] #859 closed

[2017-08-25 16:20] richardpen commented on #781
@abozhinov @bpuglisi @tweibley We have improved this in the new released agent [v1.14.4](https://github.com/aws/amazon-ecs-agent/releases/tag/v1.14.4), please upgrade to the new agent version. I'm closing this for now, feel free to reopen if you run into this issue in the future.

[2017-08-25 16:20] #781 closed

[2017-08-25 16:21] richardpen commented on #663
This has been released in [v1.14.1](https://github.com/aws/amazon-ecs-agent/releases/tag/v1.14.1)

[2017-08-25 16:21] #663 closed

[2017-08-25 17:34] richardpen commented on #945
@kristiantakvam Thanks for opening this issue here,  the pids control group is added in docker 1.11, and needs the support from kernel(require kernel > 4.3). To support this flag in ECS, we probably also need some work in ECS Optimized AMI to enable this feature in the kernel, we will track this as a feature request.  In order to help us prioritize the request, can you briefly tell us your use cas

[2017-08-25 17:46] richardpen commented on #949
@s-maj Thanks for bring this up, initially this log level is intentional, it helps us understand whether the state change has been reported to our backend.

While in the latest version [v1.14.4](https://github.com/aws/amazon-ecs-agent/releases/tag/v1.14.4), we replaced this part with the batch state change API, so you will not see this log with the new agent.  Please upgrade to the latest version

[2017-08-25 17:46] #949 closed

[2017-08-25 17:57] samuelkarp commented on #949
The ERROR log level is generally used to indicate things going wrong with the agent itself, or other unexpected behavior.  Containers that can't be pulled is actually expected behavior when something is preventing the image from being pulled (a typo in the image name, a failed network connection between Docker and the registry, failing authentication, etc) and doesn't indicate that something went

[2017-08-25 18:12] s-maj commented on #949
@samuelkarp @richardpen thanks for detailed explanation. The reason why I asked this question is that can't find an easy way to detect deployment failure in ECS. Currently, I am parsing ECS agent logs looking for certain phrases (like CannotPullContainerError) and trigger alerts if spotted.

[2017-08-25 19:20] kristiantakvam commented on #945
@richardpen I'm working on the backend of a feature that allows users to write and execute code in their browser. The code is uploaded to our servers, inserted into a Docker container, and compiled/executed in that container. Due to the nature of this feature, I'm not in full control of the code that's running in these containers. As such, I'm having to take extra steps to make sure a malicious pi

[2017-08-25 19:59] nswarnkar commented on #269
This is important requirement and we are going to hugely use ECS. Are you guys working on it ? When this could be available?

[2017-08-25 20:10] KensoDev opened #951 "oci runtime error: container_linux.go:247: starting container process caused "process_linux.go:359: container init caused..."
### Summary
When trying to run a container with mounted volumed under ECS. Got this error. This is going to be a very detailed report since we got this error many times and debugged it to resolution.

### Description
When trying to run a container with mounted volumes under ECS, got this error

[code]

Now, this has 2 symptoms, different on us-east-1 and us-west-2

us-east-1
After running the cont

[2017-08-26 01:08] tuusberg commented on #269
I created this issue more than a year ago. Is there a chance that you guys would implement this feature in the near future?

[2017-08-28 00:42] ricardson commented on #462
+1

[2017-08-28 20:59] richardpen commented on #951
@KensoDev Can you provide more details regarding the environment, what's the docker version and ecs-agent version?

I don't think this was caused by that one mount points inside another mount point, as I tried the following task-definition which works fine for me on both ECS Optmized AMI(17.03.1-ce) and ubuntu(17.05.0-ce) , were you able to use the ecs-agent to launch other task and can you also s

[2017-08-28 22:16] KensoDev commented on #951
So. I reproduced this again just now

here's the task definition (only things marked REDACTED) are names. Other than that it is verbatim our deployed definition

The error:

[code]

[code]

[code]

[2017-08-28 22:20] richardpen commented on #951
@KensoDev Thanks for providing the information, but I didn't see the task definition, did you forget to paste here or you send it somewhere else?

[2017-08-28 22:20] KensoDev commented on #951
@richardpen I added all the information you asked for. Let me know if something else is unclear.

[2017-08-28 22:21] KensoDev commented on #951
@richardpen task definition pasted in the comment

[2017-08-28 22:21] KensoDev commented on #951
Here it is again
[code]

[2017-08-28 23:27] sdesalas commented on #469
FYI @jhmartin You can increase the size of `/dev/shm` if there is enough memory allocated to the container.

https://www.cyberciti.biz/tips/what-is-devshm-and-its-practical-usage.html

[2017-08-29 01:43] JonCubed opened #954 "ECS Windows Agent v1.14.4"
The console is reporting that my windows ECS Windows agent is out of date and I can see that v1.14.4 was released for linux agent.

Is the windows agent holding off until  #729 is done?

Is there a way to find out what agents have been released for windows even if like [Container Agent Versions](http://docs.aws.amazon.com/AmazonECS/latest/developerguide/container_agent_versions.html) page in docum

[2017-08-29 17:22] nmeyerhans commented on #951
Strange that this would seem to have different symptoms based on region. The Ubuntu release and docker version are identical? There are no regional variances in the ECS Agent; the binary is identical for all regions.

[2017-08-29 17:24] KensoDev commented on #951
@nmeyerhans This threw me off the most as well.
but it's 100% verified

us-east - once I run the docker container **once** manually. the scheduler will pick it up and continue working
us-west - same thing lead to a different result, the scheduler was not able to recover.

TBH, this is what led me to debug this more since I had a recovery path on the other env that I could easily "bypass" the bug w

[2017-08-29 17:53] pecigonzalo opened #955 "Task Event sends RUNNING on failed allocation"
### Summary
When a task is scheduled on a container instance, even if the task is unable to allocate due to insufficient memory/cpu/etc an event is sent to cloudwatch that the task is `RUNNING`.
This should not be the case as the container is never in that state and it causes problems with events triggered for `RUNNING` tasks

### Expected Behavior
Task remains in `PENDING` state

### Observed Beh

[2017-08-30 01:52] kevin1024 commented on #791
Almost the exact same story for me.  What I do is template out the elastic beanstalk environment in the dockerrun.aws.json when building the application before zipping and uploading to s3.  The downside is that every environment requires its own application bundle just so I can support logging to the correct cloudwatch logs group.

[2017-08-30 02:44] techdragon commented on #791
I just last night, spent an entire evening messing around with the cloudwatch logs agent and barely documented elastic beanstalk configuration options in order to try and get multi container logging working. If this feature was completed, I would have 6 hours of my life back.

I'm massively in favour of adding this, so much so that I will be refusing to use elastic beanstalk in a multi container c

[2017-08-30 14:49] cabbruzzese commented on #954
Thanks for reporting this. I'm sorry for the confusion. We're working on resolving the outdated agent message and improving the overall experience for windows containers. I can't comment specifically on the road map but we've been working on addressing #729 in recent pull requests (i.e. #783, #924) and understand that it is a pain point.

I'll provide an update when this is resolved.

[2017-08-30 16:05] adnxn commented on #955
@pecigonzalo Can you provide more details regarding the environment you're running in? Which OS, docker version and ecs-agent version? Thanks.

[2017-08-30 16:20] pecigonzalo commented on #955
OS: Ubuntu 16
Docker: `17.03.1-ce`
Agent: `1.14.3`

[2017-08-30 17:12] adnxn commented on #955
Thanks =] Some additional information would be very helpful to investigate this behavior. Could you send me the logs that can be collected by the [ecs log collector](https://github.com/awslabs/ecs-logs-collector)? Also include the cluster id, and specifically the task ids that are misreporting their status.

Please send the above information to adnkha at amazon dot com, and feel free to update thi

[2017-08-30 17:43] EmmanuelTsouris commented on #729
@JonCubed, we created the new Windows_Server-2016-English-Core-ContainersLatest-* AMI for customers who would like to have the latest released version of Docker.  Since the AMI is built monthly (to pick up Windows patches), the idea here is that it will also pick up whatever version of Docker is released. The version is the same one you get from installing the Docker package:
`Install-Package -Nam

[2017-08-30 21:43] dcosson commented on #940
Great I'll follow those PR's. As long as it contains both sides of the port mapping (so the port that it is bound to on the ECS Host Instance) that should work.

[2017-08-30 21:45] dcosson commented on #940
Although the docker label would still be helpful because Labels get included in the docker logging context, so my log aggregator container such as fluentd can get access to those values in a consistent way across all my various services.

[2017-08-31 10:44] JonCubed commented on #729
@EmmanuelTsouris thanks for explaining the difference between the AMIs

[2017-08-31 10:50] JonCubed commented on #954
@cabbruzzese  thanks, looking forward to it. Out of curiosity are there plans or has it been discussed releasing an AMI with ECS agent already baked in like the one for linux?

[2017-08-31 10:50] JonCubed commented on #954
@cabbruzzese  thanks, looking forward to it. Out of curiosity are there plans or has it been discussed releasing an AMI with ECS agent already baked in like the one for linux?

[2017-08-31 12:15] pecigonzalo commented on #955
@adnxn I sent the requested logs.
Bare in mind that it is not occurring right now, as I rebalanced the cluster to allow for the task to allocate.

The example case was a task being unable to allocate due to the port being used or insufficient memory on the node, regardless I was getting `RUNNING` followed by an immediate `STOPPED` event when I believe the task should remain in `PENDING` state till

[2017-08-31 17:21] kchilder commented on #236
At least wrap the nfs volume driver so we can use it with EFS!

[2017-08-31 20:24] adnxn commented on #955
@pecigonzalo, received. Thanks! We're reviewing the logs and researching the issue you've described.

[2017-08-31 22:49] cmukai-cisco commented on #418
When I do this developers tell me it is difficult to search the logs. They would rather see all the streams in one place. Is it possible to support both awslogs_stream and awslogs_stream_prefix?

[2017-09-01 04:30] cyc115 opened #960 "Is there any way to enable docker content trust in ECS?"
### Summary
I'm looking for a way to enable docker content trust either via environment variable `DOCKER_CONTENT_TRUST=1` or via parameter at docker run time `--disable-content-trust=false`.\
Does anyone have suggestion on how I could possibly achieve this? :)

Thanks in advance !

[2017-09-01 17:08] rodmaz commented on #872
+1

[2017-09-03 13:27] chappoo commented on #954
FWIW, I've put together a basic packer template that provisions a windows AMI boostrapped with the latest agent built directly from source.   While the service is still in beta, this might help to plug the gap.

https://github.com/chappoo/amazon-ecs-windows-ami.

[2017-09-05 07:27] tobinski commented on #898
Would be nice tho have that feature. I have a similar usecase and need to define separated taskdefinitions for each dataset

[2017-09-05 20:37] richardpen commented on #943
@L226 We are sorry about that you're still experiencing this issue with the new docker. Also thanks for your step by step debugging, which will help our service team root cause the problem. Our service team is working a similar issue that may be related, in order to root cause the problem you are experiencing, extra information is required, can you share the following information to me at: penyin

[2017-09-06 00:26] VimCommando commented on #437
+1 on this. I'm running a node.js application that uses a RabbitMQ service in a separate container. I can't figure out how to make the two containers talk to each other without knowing the IP addresses in advance; which makes no sense, because the IP addresses are assigned at container creation (both are running on the same host).

This was trivial using docker-compose inside an EC2 instance, but

[2017-09-06 04:43] L226 commented on #943
Hi, thanks for your response. I'll get those emailed to you presently.

Successful local pull means that running the following on my laptop terminal works as expected:
[code]
No local docker info was cleaned.

Yes, the new ECR failed in exactly the same way as the old one.

[2017-09-06 07:37] cederberg commented on #258
Summarizing the hacks mentioned above, all variants seem to rely on the metadata API. Which can be called from within a container as such:

[code]

Which results in:

[code]

The `Arn` above corresponds to the `taskArn` from the aws command-line.

*But...* I can't seem to find the `containerArn` in any shape or form... Nor can I correlate the id at the end of the `DockerName` to anything useful. S

[2017-09-06 08:32] nhmaha commented on #710
+1

[2017-09-06 16:17] richardpen commented on #943
@L226 Thanks for clarifying the questions. Have you sent the email, it looks like I didn't receive any email about this? Would you please check again, and my email is penyin (at) amazon.com. I'll let you know when I received all the information.

thanks,
Peng

[2017-09-06 16:30] jeffb-stell opened #966 "Feature request: per-container Target Group registration"
### Summary
ECS services comprised of multiple complementary microservices would benefit from the ability to register individual containers with Target Groups.

ECS currently only provides for service-level registration with a single TargetGroup. This registration and subsequent health checks are used as a determination of whether an ECS service is healthy.

For ECS services comprised of multiple

[2017-09-06 19:31] chenliu0831 commented on #433
Is this being actively worked on? If not I'm interested in contributing (related to #656 which I believe should be reopened)

[2017-09-07 00:56] hulkish commented on #534
+1 yes please,

[2017-09-07 17:16] samuelkarp opened #970 "IP address not released when `docker stop` is called with awsvpc network mode"
### Summary
The IP address allocated to a task is not released in the IPAM plugin's database when a task moves to stopped through an essential container exiting.

### Expected Behavior
`docker stop` of an essential container in a task should cause all resources to be cleaned up the same as if `aws ecs stop-task` is called.

### Observed Behavior
The IP address allocated to the task remains allocat

[2017-09-07 22:24] jhmartin commented on #223
While running Vault I'd like to drop several but add IPC_LOCK. I could just enabled `privileged` but that adds a bunch of capabilities it doesn't need.

[2017-09-08 10:32] ayozemr commented on #789
Suscribed. We may need to tune somaxconn too for UWSGI python server.

Thanks!

[2017-09-08 11:56] zackarychapple commented on #787
Any update on when this will be a reality? We are running into issues on this as well.

[2017-09-08 13:35] mancej commented on #789
Just a heads up, we instituted a workaround (for now, while we wait for this), but unfortunately it involves running the container as privileged. We also had to set the somaxconn on the host itself to get it working. That being said, it does work.

[2017-09-11 13:36] pagameba commented on #223
I'm also looking for IPC_LOCK support specifically for Vault support.

[2017-09-11 18:17] prizyp commented on #872
+1

[2017-09-11 21:47] nmeyerhans opened #977 "Makefile default rule doesn't work as documented due to undeclared dependencies"
### Summary

Default `make` rule does not declare adequate dependencies. The `release` makefile target appears to be missing a dependency on `get-cni-sources`.

### Description

README.md indicates that an agent container image can be built with `make`, but the default makefile rule is missing dependencies and the build fails.

### Expected Behavior

`make` should generate an `amazon/ecs-container

[2017-09-11 21:55] nmeyerhans opened #978 "Makefile can't clean up after itself"
### Summary

`make clean` fails after `make release` due to permission failures.

### Description

The `docker-release` make target (or its dependencies) runs processes as root in a container that write to subdirectories of the source directory via a mounted volume. Thus the subdirectories and files that it creates are owned by root and can't be cleaned up by `make clean`

### Expected Behavior

`

[2017-09-11 22:19] samuelkarp opened #979 "`make release` warns about dirty repo even with clean repo"
### Summary
`make release` emits a warning about a dirty git repo even with a clean git repo

### Description
The `release` target expects a clean git repo (no uncommitted changes).  When a dirty repo is detected, a warming is emitted and the changes should be omitted from the resulting artifact.  This is now failing to operate correctly on the `dev` branch.  I suspect that building the plugins di

[2017-09-11 23:12] ddewaele commented on #966
Is creating 3 ECS services with 3 target groups and 3 path based routing entries in an internal ALB  to those target groups not an option for this type of scenario ? I believe this is how they approach in the ecs reference architectures.

[2017-09-12 00:04] L226 commented on #943
This seems to have been an issue with our CI workflow. Closing for now. Thanks for your help!

[2017-09-12 00:04] #943 closed

[2017-09-12 03:25] OscarBarrett commented on #753
I don't have any spare time to reproduce this right now unfortunately.

RE steps to reproduce, our task was running a periodic cronjob several times a day that could hit the memory limit (some inherited code that we've now improved). Sometimes it would OOM and be killed prematurely, without the agent disconnecting. Over a period of weeks the agent would eventually disconnect (assumedly after one o

[2017-09-12 04:50] djones commented on #549
+1

[2017-09-12 09:34] tobypinder commented on #787
@alinpa we use

[code]

in the `Dockerrun.aws.json` to effectively hand the guest container the host's `shm`. I am unclear of any side effects here but it appears to work well for our single container environment. I'm not an expert but you and others here may find this a suitable workaround and we haven't noticed any issues arising from this yet.

[2017-09-12 20:03] richardpen commented on #919
@xennygrimmato Since we haven't heard from you, I'm going to close this for now, feel free to reopen if you run into this problem in the future.

[2017-09-12 20:03] #919 closed

[2017-09-12 22:19] richardpen commented on #960
@cyc115 Today the docker content trust is integrated in the docker cli, and there is no remote api for this feature. While ECS Agent relies on the remote API to interact with docker, so it's not possible for ECS to support this today.  But there is a related issue discussing about implementing this in remote api: moby/moby#16654, we will keep tracking on this, and will update if we have any inform

[2017-09-12 22:50] richardpen commented on #951
@KensoDev Sorry for the late response, I can reproduce this issue with the provided task definition. But if you removed the line `"readOnly": true` in your container definition it will work.

The reason here is that you have a nested mount path: `/etc/nginx/sites-enabled` and `/etc/nginx` in your container. If `/etc/nginx` is marked read only, then `/etc/nginx/sites-enabled` wouldn't be able to cr

[2017-09-12 23:13] KensoDev commented on #951
I resolved it another way but not nesting it under one another, but I would certainly imagine that this will solve the issue.

[2017-09-12 23:13] #951 closed

[2017-09-13 04:46] ababushkin commented on #872
Any update on this one? Would be great to see it made available rather than using workarounds

[2017-09-13 19:06] binitdatta opened #983 "Docker Service deployed in ECS cluster shows service as running but does not respond"
### Summary

I am developing this (https://github.com/binitdatta/apache-tomcat-legacy-spring-crud-docker-aws-ecs) to explore ECS. This is a legacy Apache Tomcat Spring MVC based war file that accesses an AWS RDS. I can run in locally as well as in a dockerized format in AWS EC2 instance.

Problem starts when I deploy this container to AWS ECS. The service status is RUNNING. However, I cannot acces

[2017-09-13 22:22] aaithal commented on #827
@djenriquez i'm closing this since we haven't heard from you regarding this issue for a while. Feel free to create a new issue or update this if you have any follow ups/questions. Thanks!

[2017-09-13 22:22] #827 closed

[2017-09-13 22:48] aaithal commented on #983
@binitdatta  thank you so much for the detailed description of the issue.

You can use the `docker logs ` command to view the container logs. If the container is additionally generating log files, you can attach to the running container and inspect the file system for logs as well.

Since the container is running successfully, I'd venture a guess that this is more of an application/config issue th

[2017-09-13 22:57] aaithal commented on #960
@cyc115 you can also modify the docker config when you start the instance to set `DOCKER_CONTENT_TRUST=1`. Here's some relevant documentation for that: http://docs.aws.amazon.com/AmazonECS/latest/developerguide/bootstrap_container_instance.html#bootstrap_docker_daemon. Let us know if that helps with your use-case. Thanks!

[2017-09-13 23:02] aaithal commented on #966
@jeffb-stell Thanks for reaching out to us regarding this. We have raised this feature request internally. We'll update this issue when we have more information to share.

[2017-09-13 23:51] nmeyerhans commented on #852
@stefansedich and others: yes, this is something that is going to be supported soon. I don't have specific details on timing, but we have started work on the backend support.

[2017-09-14 00:13] stefansedich commented on #852
Thanks for the update @nmeyerhans I look forward to it!

[2017-09-14 02:58] cheddesi commented on #3
Two years and still there is no neat solution to this problem!
AWS Team, any update on this issue?

Thanks
Siva Chedde

[2017-09-14 05:09] dmerrick commented on #3
It doesn't look like they have any intention of adding this

[2017-09-14 22:09] binitdatta commented on #983
@aaithal ,

Thanks for your response. I very much appreciate your help.

1. I have already ran the application in Docker within AWS EC2 instance and it was all good. I am using the same Security Group here for the ECS instance as well.

2. I did try docker logs <container_id> and it shows only a portion of the log file. Will try again and post the log file and the portion not shown.

3. I understa

[2017-09-15 10:33] miklis commented on #804
+1 for this. We also have some large images used in an autoscaling ECS cluster. Whenever a new instance is registered to the cluster, it would speed up the first tasks slightly if we would be able to specify to start pulling some images already at startup.

[2017-09-15 15:43] rthrfrd commented on #731
We're seeing this an awful lot! For services running >30 containers simultaneously per instance in cluster, it may only take an hour or two before the instance becomes completely unusable and all newly-started service-managed tasks are stuck in pending. Eventually there are no tasks running at all and the instance has to be terminated. Haven't seen any obvious errors in any logs, just a lot of cal

[2017-09-15 15:53] aaithal commented on #731
@rthrfrd We're sorry that you're running into this issue. Can you please share the log files from the instance (instructions can be found [here](http://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-logs-collector.html)) with us? You can email them to aithal at amazon dot com. You can also check if you're running out of EBS Credits ([here](https://github.com/aws/amazon-ecs-agent/issues/68

[2017-09-15 16:16] rthrfrd commented on #731
@aaithal Thank you for the response! I'm sorry I missed that part, burst balance is indeed exhausted on that volume. We use quite a large gp2 at the moment to get the throughput, I guess better to try dedicated IOPS. We've experimented with various storage drivers over the last few years, all with different issues, now use `overlay2` to avoid inode exhaustion. Thanks again.

[2017-09-15 19:41] aatreya commented on #787
Anyone interested in this for use with Chrome/Chromium may also want to star / comment on these bugs:
https://bugs.chromium.org/p/chromium/issues/detail?id=715363
https://bugs.chromium.org/p/chromium/issues/detail?id=736452

[2017-09-15 19:52] aaithal commented on #731
Hi @curena Apologies for getting back to you late about the logs you sent us. The docker daemon logs and the stack trace indicate some slowness/issues with the docker daemon and the splunk logging setup on the instance, because of which the Agent is unable to stop containers. I'm not sure if the slowness in the daemon is related to the splunk issue, but ensuring the splunk is set up correctly and

[2017-09-15 20:03] zackarychapple commented on #787
This article is amazing. https://medium.com/@marco.luethy/running-headless-chrome-on-aws-lambda-fa82ad33a9eb

[2017-09-15 20:26] linuxfreakus commented on #787
Yes, its pretty cool, but if you're having SHM issues already with chromium, they are likely to continue with lambda.  You *can* force it to run in that environment, but when I tried, it didn't work for our purposes.  Very crashy.

[2017-09-15 20:31] linuxfreakus commented on #787
FWIW, we currently hack it by granting elevated privileges and remounting /dev/shm on container boot.  Not optimal, especially if you have strong security requirements, but one of the only ways to safely make it happen from a memory allocation standpoint if you use more than one container.  Other than that, you have to give up ECS and roll your own.

[2017-09-15 21:32] djenriquez opened #985 "ECS Agent Disconnected becoming more common"
### Summary

We're seeing more and more ecs-agents being disconnected recently, running on both 1.14.4 and 1.14.3, that do not recover on their own. We've been needing to connect to the boxes and run `stop ecs && start ecs` to which some will sustain, while others remain disconnected.

### Description

![screen shot 2017-09-15 at 2 24 12 pm](https://user-images.githubusercontent.com/4636740/305040

[2017-09-16 22:09] ricardson commented on #985
I also had this problem.

[2017-09-18 11:16] aayushchugh07 commented on #985
I also had this problem. VMs on our clusters keep disconnecting and do not automatically reconnect.

[2017-09-18 22:27] aaithal commented on #985
@djenriquez @ricardson @aayushchugh07 we're sorry to learn that you're running into such an issue.

@djenriquez as far as container instance `d45c9085-a359-474c-ae5e-b04b2efb966a` is concerned, our server logs indicate that we closed the connection to ECS Agent at the following times as a part of the regular disconnect-reconnect workflow during that hour (between `2017-09-15T21:00:00Z` and `2017-0

[2017-09-19 01:16] danielhanold commented on #3
Here's a solution that includes creating a file containing environment variables on the Docker Host, using CloudFormation to automate the creation of this file, and then using an ENTRYPOINT script inspired by the Postgres Docker image: https://www.danielhanold.com/2017/09/set-dynamic-environment-variables-ecs-containers-using-mounted-volumes-docker-entrypoints/

[2017-09-19 03:11] rjosephwright commented on #3
@danielhanold it isn't necessary unless you need information passed in that is unique to the underlying host, such as its IP address.

Example using CloudFormation (pardon if the syntax is not 100% correct):

[code]

[2017-09-19 11:40] brainframe-me commented on #269
For those who are trying to setup an FTP server inside a ECS task container and are trying to allow PASV connections and bump into the limitations of ECS-agent. Please know that there is a simple solution that does not require you to define all potential dynamic pasv ports that you defined in your server configuration.
You simply need to set the NetworkMode of your TaskDefinition to 'host' instead

[2017-09-19 15:19] alasdairrr commented on #437
+1 as well. Crazy this isn't supported :-O

[2017-09-19 15:25] karnauskas commented on #223
Any progress on this? +1 for Vault.

[2017-09-19 15:58] djenriquez commented on #985
Thanks for the reply @aaithal, these instances are running in a VPC behind a private subnet using the AWS NAT service for outbound traffic. Nothing fancy around them, no proxies or anything. There is no custom configuration, typical ECS config.

Let me run the log collector for ya and i'll get them over soon.

[2017-09-19 15:59] aaithal commented on #985
@djenriquez thanks for that information. It'd be super awesome if you could provide logs at `debug` level.

[2017-09-19 16:07] djenriquez commented on #985
@aaithal logs sent.

[2017-09-19 17:21] aaithal commented on #985
@djenriquez apologies for the confusion. I meant debug level logs from the Agent, which should be collected if the Agent was started with `ECS_LOGLEVEL=debug` config in ecs.config file. The reason for asking that was that the connection initiation messages are unfortunately printed at the `debug` level

[2017-09-19 18:22] djenriquez commented on #985
Sure, that host is now collecting logs with `ECS_LOGLEVEL=debug`, just need to wait for it to hit the issue again.

[2017-09-19 19:03] danielhanold commented on #3
@rjosephwright I'm currently using Travis to build and upload the Docker image to ECR, then generate an updated JSON representation of the task definition, followed by an AWS CLI call to update a specific CloudFormation stack using the new task definition.

I don't know why I never thought of defining the task definition in CloudFormation itself the way you described, which sounds like a much clea

[2017-09-20 10:09] cs-mahmoud-khateeb commented on #223
is it really needed for vault? the purpose of `--cap-add=IPC_LOCK` is to lock memory for this container so it doesn't get swapped to disk which is not even supported in aws (at least not yet) isn't that right??

[2017-09-20 17:10] samuelkarp opened #986 "Container exit code not persisted properly"
### Summary
It looks like the container exit code may not be properly persisted in the agent's state file, leading to data loss  potentially impacting the call to submit state changes to ECS.

### Description
Container data is stored in an `api.Container` struct, which is then serialized to JSON and stored in a file.  During agent restarts, this file is read and the `api.Container` structs are reb

[2017-09-20 18:14] aaithal commented on #985
Hi @djenriquez, the main thing that stands out in the log files that you shared is that there's no messages in the log file that correspond to `"2017-09-18T19:48:42Z [WARN] ACS Connection hasn't had any activity for too long; closing connection"`, where the disconnection causes `read` error due to `use of closed network connection`. Typically, for Agent initiated disconnects, we expect to see this

[2017-09-20 20:24] djenriquez commented on #985
We configure all of our instances with the same immutable build for our development and production environments (except for some differences in metrics collections). I can tell you that this does _not_ happen in our sandbox environments. So I wonder if the additional load contributes to the problem.

There are some services we have that handle a lot of connections, though I don't think they're any

[2017-09-20 21:55] galindro commented on #236
@euank @samuelkarp @aaithal @richardpen

This feature request was opened at Oct 26 2015. Almost 2 years have passed and nothing about it was discussed. IMHO, this is a little feature that could be easily be developed by AWS team.

Please, someone from AWS could give us an ETA or just something about if this feature is in the roadmap for this month, or this year?

[2017-09-20 22:02] samuelkarp commented on #799
Closing this; we should have closed this a while ago.  Recent releases of the `docker` package for Amazon Linux (since 17.03.1, if my memory serves me correctly) no longer use a private mount namespace, so you no longer need to restart Docker when attaching and mounting EBS volumes in order to use those mountpoints in your task definitions.

[2017-09-20 22:02] #799 closed

[2017-09-20 23:35] samuelkarp commented on #236
@galindro While we don't generally comment on our future roadmap (including ETA), I can shed a bit more light onto the concerns here.

We've generally been thinking about volume drivers in terms of application persistent storage.  There are a few different models where persistent storage can be used for applications:

* Shared storage, where each copy of your application sees the same files.  One

[2017-09-21 09:34] frimik commented on #236
I just need "blocker" type of storage in the first place... With a few
extra options maybe. I can get around all of it with "magic" hints in the
definitions / the ECS ui. But for how long do we have to keep doing it that
way... :).

On tor 21 sep. 2017 01:35 Samuel Karp <notifications@github.com> wrote:

[2017-09-21 10:15] robhaswell commented on #236
@samuelkarp I understand your concerns but I don't think they are great enough to prevent this feature from being considered for work.

This is true, however for the simplest (and most obvious?) use-case of using the EBS volume driver, this is not a concern.

They do, they pass back an error (I think, it's been two years since I looked at this) which then indicates to ECS that the container is uns

[2017-09-21 15:05] simonslater commented on #3
@danielhanold what I like about your solution is that it allows for a task definition to be used by multiple enviroments.

[2017-09-21 16:52] galindro commented on #236
In the meanwhile, I think that IT admins/Devops could use my workarround considering that almost all storage driver for Docker exposes the volumes in a way that they could be used by `docker run` just referring them by name, like this:

[code]

The only problem that this aproach have, IMHO, is that you need to create a volume first with the `docker volume create` command.

I've tested with Docker

[2017-09-22 08:52] chicofranchico commented on #502
Is the list on the top being constantly updated or is there a better place to follow that?

[2017-09-22 17:04] antipax commented on #985
Just wanted to chime in that I have a cluster behaving like this right now.

[2017-09-22 18:29] aaithal commented on #983
Hi @binitdatta, I'm closing this issue for now. Feel free to reopen it or create a new one if you run into this again.

Thanks,
Anirudh

[2017-09-22 18:29] #983 closed

[2017-09-22 18:49] aaithal commented on #985
@antipax As per my earlier response, we'd really appreciate if you could share logs from the instance to help us debug this further.

@djenriquez I have an update on my test setup and issue reproduction attempts here. I have a cluster of 100 instances constantly churning containers at the rate of roughly 4 tasks (8 containers) every 2 minutes in a private subnet. The instances are configured to dr

[2017-09-22 19:38] antipax commented on #985
Thanks @aaithal I will try to grab some logs. If it helps, it seems to occur more frequently when a task is repeatedly getting restarted by the agent because it is failing.

[2017-09-22 21:13] djenriquez commented on #985
@aaithal I send you more logs from a box that ran into this issue _with_ debug mode enabled for both the ecs-agent and the docker daemon at the time of the event.

Let me know if anything in there needs clarification.

[2017-09-22 22:30] sharanyad commented on #223
Hi all,

The add and drop Linux Capabilities feature has been released:
https://aws.amazon.com/about-aws/whats-new/2017/09/amazon-ecs-adds-support-for-adding-or-dropping-linux-capabilities-to-containers/

Customers can now add/drop Linux Capabilities to each container via the Task Definition. Please refer to `linuxParameters` section here:
http://docs.aws.amazon.com/AmazonECS/latest/developerguide

[2017-09-22 22:31] #223 closed

[2017-09-24 01:06] lawrencepit commented on #223
@sharanyad Could it be it's not quite released yet? I'm getting the following response back when using `aws ecs register-task-definition --cli-input-json file:///tmp/example.json` in eu-west-1:

[code]

[2017-09-24 17:21] eric-johnson commented on #534
Like @EugeniuZ and others have said, just having some mechanism to delay putting a container in the "RUNNING" state would be extremely useful. This could effectively be the "grace period" concept that's been discussed here or the "start period" now built into Docker (or are we supposed to call it Moby now?).

@samuelkarp Perhaps we should first support this delay (#894), which will solve most peop

[2017-09-25 06:53] samuelkarp commented on #729
As I mentioned in https://github.com/aws/amazon-ecs-agent/issues/729#issuecomment-324696792, we were investigating a bug with pulling `microsoft/windowsservercore:latest`.  We've now identified the bug as relating to [logic intended to skip pulls for some containers](https://github.com/aws/amazon-ecs-agent/blob/4ecdc98b02e0af09f715962e042c2b70664742cb/agent/engine/docker_container_engine.go#L275-L

[2017-09-25 16:59] mtoigo commented on #648
Great article and this really helped me better understand ECS deployments!

[2017-09-25 17:05] antipax commented on #985
@djenriquez how/are you working around this currently? I'm seeing it a lot lately.

[2017-09-25 17:24] sharanyad commented on #223
@lawrencepit Sorry for the inconvenience. The CLI team is investigating this and we shall get back as soon as this gets resolved.

[2017-09-25 17:34] mdkent commented on #896
+1 for this. I'm trying to debug some issues using strace within the container and I'm stuck without this.

[2017-09-25 18:46] djenriquez commented on #985
@antipax Ansible ad-hoc command to look for the disconnected agents then run `stop ecs && start ecs`. Not a fun approach, but it fixes the problem.

[2017-09-25 18:49] antipax commented on #985
@djenriquez Ah, I have a lambda set up now that is checking every 15 minutes for instances with status disconnected and terminating them (as they are replaced by an autoscaling group). Will share  it if it works well, just added it to our testing environments

[2017-09-25 18:51] djenriquez commented on #985
That should work if you have the proper immutability setup. The problem though is, as common as these things are, there is a likely chance multiple instances are terminated at the same time, and if a service doesn't have enough containers, it could kill the instances that a specific service is all running on == outage.

[2017-09-25 18:52] antipax commented on #985
@djenriquez in my particular set up, that is ok :)

[2017-09-25 18:52] djenriquez commented on #985
Fault-tolerance FTW. 😉

[2017-09-25 21:28] sharanyad commented on #223
@lawrencepit It's fixed now. Please let us know if there are other concerns. Thanks.

[2017-09-25 21:56] aaithal commented on #985
@djenriquez Thanks for sending those second set of logs. However, Agent was still logging at `INFO` when the issue actually happened. I did take a look at server side connection logs for when the issue happened (`2017-09-22T19:42:29Z [WARN] ACS Connection hasn't had any activity for too long; closing connection`). As far the Agent's Communication Service was concerned, Agent did not actually close

[2017-09-25 22:19] politician commented on #437
- Has anyone switched to something really similar to ECS like HashiCorp Nomad over this issue? How'd it go?

[2017-09-25 22:20] djenriquez commented on #985
Glad to know theres progress! Thanks for your efforts @aaithal and team!

[2017-09-26 01:12] lawrencepit commented on #223
@sharanyad Unfortunately I still get the exact same error response.

[2017-09-26 16:29] rclark commented on #236
@samuelkarp I want to point out another use-case that I'm not sure is covered by your bullets above. In our applications, data is persisted elsewhere (S3) and updated regularly by separate systems. Our ECS containers need to start from the current state of that data, perform their processing, and write the output elsewhere.

- the data's starting state varies from container to container
- the data

[2017-09-26 16:42] sharanyad commented on #223
@lawrencepit Did you try after updating the AWS CLI?

[2017-09-26 21:40] lawrencepit commented on #223
@sharanyad missed that one, sorry. Yes, it works now. Thanks a lot!

[2017-09-27 10:33] kerryjj commented on #469
+1 to being able to use tmpfs in ecs and elasticbeanstalk

[2017-09-27 22:01] spanktar commented on #852
unrelated, but why can't there just be an ECS variable that's like "just pass these flags to docker run" so we don't have to open tickets for every command line flag people want but have to wait forever to get implemented in ECS?

ECS_DOCKER_RUN_FLAGS

Anyway, +1 to --init.

[2017-09-28 00:58] bndw opened #994 "Container NetworkBindings missing when linked to another container"
### Summary
NetworkBindings are missing for a container that is linked to another container when using the `DescribeTasks` API.

### Description
I'm running two containers in a task definition, `proxy` and `app`. Both containers have Port Mappings that map container port `80` to a dynamic host port. I've now linked the `app` container to the `proxy` container. Now when I use the `DescribeTasks` AP

[2017-09-28 10:24] psarakis opened #995 "Always pull latest image version (digest) of the specified tag"
### Summary

If an image-tag combination is present on the ECS host, the latest version (digest) will not be pulled from the repository, on any subsequent task runs. This operation (force pull) is implemented in other orchestrators such as [Mesos](https://github.com/mesosphere/marathon/blob/48bfffdbb2920732ba726ce19ade6deb00121794/docs/docs/rest-api/public/api/v2/examples/app.json#L26).

### Descr

[2017-09-28 13:26] paulrutter commented on #787
+1
See https://github.com/cyrus-and/chrome-remote-interface#why-my-program-stalls-or-behave-unexpectedly-if-i-run-chrome-in-a-docker-container

[2017-09-28 17:46] bndw commented on #994
This seems to be a race, where if I wait a little bit the NetworkBinding will show up in the output of DescribeTasks. What's the proper way to handle the case where container A *depends* on container B to be RUNNING? I've marked them both `essential` but there still seem to be race conditions.

[2017-09-28 19:02] jhaynes commented on #995
Hi @psarakis What you're describing sounds like the way we expect the agent to work today. In short, for every task, we effectively call `docker pull` which will, at the minimum, download the manifest and verify that a local image matches the one in the remote registry.

If this is not the behavior you're seeing, please let us know!

You can see https://github.com/aws/amazon-ecs-agent/issues/413#i

[2017-09-28 20:58] aaithal commented on #985
@djenriquez We've merged https://github.com/aws/amazon-ecs-agent/pull/993 which should make things better on the websocket connection management front. This will be included in the next Agent release.

Thanks,
Anirudh

[2017-09-28 21:42] jdreaver commented on #789
@shoumitragametime if you set your container as privileged then you can just call `sysctl` yourself on startup.

AWS also recently implemented adding Linux capabilities to containers (https://aws.amazon.com/about-aws/whats-new/2017/09/amazon-ecs-adds-support-for-adding-or-dropping-linux-capabilities-to-containers/). I haven't tried this yet but maybe you don't have to use privileged and can instea

[2017-09-28 23:12] felipeochoa opened #997 "Run the agent without net.ipv4.conf.all.route_localnet?"
The approach recommended in [the install guide](http://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-agent-install.html) has the agent listening on `lo:51679` and using iptables to forward packets coming in on port 80 to the agent.

I would like to run the agent with `net.ipv4.conf.all.route_localnet` disabled to avoid having to write a bunch of other iptables rules to keep the local rou

[2017-09-28 23:52] aaithal commented on #997
Hi @felipeochoa, thanks for reaching out to us regarding this.

We decided against using the `docker0` bridge for serving credentials for a couple of reasons. [1] We found that under high load/contention, containers would actually fail to reach the ECS Agent on the bridge and [2] We did not want credentials going over the `docker0` bridge as any listeners on the bridge will be able to intercept th

[2017-09-29 01:41] shoumitragametime commented on #789
@jdreaver Thanks for the quick reply! However, even after running my container in a privileged mode, I run into `sysctl: permission denied on key 'net.ipv4.tcp_keepalive_time'`. I could be missing something though.

[2017-09-29 12:21] psarakis commented on #995
Hello @jhaynes, thanks for your reply. We encountered this issue using the ECS agent 1.14.3 & 1.14.4 versions on ECS optimized AMIs, using ECR as registry. My understanding is that there is no such setting (`ECS_AGENT_PULL_BEHAVIOR`) as the proposal suggested in the linked issue (#413). If you need more details please let me know.

[2017-09-29 15:22] antipax commented on #985
@aaithal is there an ETA for the next release, or a schedule of some sort? Very much hoping this fix alleviates the issues we've been seeing. Thanks for the quick responses!

[2017-09-29 22:05] djenriquez commented on #985
@aaithal is it normal for the ECS agent to close a connection on instantiation?

On new boxes, literally the first thing the agent does it start up then report it hasnt had any connections in a while, close:
[code]
Thats odd, unless activity means 1 minute, the timeout is being triggered on start? This makes using new ECS instances a pain because we have to wait for the agent to disconnect and rec

[2017-10-01 18:43] rubenhak commented on #124
+1 for having ability to use swap memory with ECS

[2017-10-01 18:43] rubenhak commented on #771
+1 for having ability to use swap memory with ECS

[2017-10-01 20:09] AKSHAYUBHAT commented on #656
Can we just `alias nvidia-docker docker` in the cloud_init / boot hook using user data?

[2017-10-02 00:48] aavileli opened #1000 "ibcontainerd: error restarting containerd: fork/exec /usr/bin/docker-containerd: cannot allocate memory"
### Description

ECS could not be reached by its agents and ecs instances were continuously restarting the containers.
The initial message in the docker log is libcontainerd: error restarting containerd: fork/exec /usr/bin/docker-containerd: cannot allocate memory

### Observed Behavior
All containers were continuously restarting

### Environment Details

* docker info
Containers: 370
 Running: 3

[2017-10-02 01:34] AKSHAYUBHAT commented on #656
Also AWS Batch has instructions for creating an AMI with nvidia-docker and ECS agent.

http://docs.aws.amazon.com/batch/latest/userguide/batch-gpu-ami.html

Though its no clear with AWS batch uses nvidia-docker or just docker.

[2017-10-02 02:37] samuelkarp commented on #656
That won't have the effect of making ECS support `nvidia-docker`.  ECS integrates with the Docker Remote API, while `nvidia-docker` is a wrapper around the Docker CLI.

[2017-10-02 02:44] AKSHAYUBHAT commented on #656
@samuelkarp  You are right.
However would just mounting the volume with nvidia drivers as described here work?

http://docs.aws.amazon.com/batch/latest/userguide/example-job-definitions.html#example-test-gpu
[code]

My assumption was that all nvidia-docker did was adding a volume entry for the drivers. Since ECS and Batch have same architecture the solution for latter would work with former as wel

[2017-10-02 11:38] felipeochoa commented on #997
Thanks @aaithal for the info. I hadn't considered the telemetry traffic nor the advantage of keeping credentials separate from the docker bridge. I'm going to go ahead with the recommended `net.ipv4.conf.all.route_localnet=1`

[2017-10-02 11:38] #997 closed

[2017-10-02 16:33] matelang commented on #534
I find it really disturbing that this issue is not prioritized as I see it. We are going live with ECS soon, and I really hoped that AWS picks this up. This is an essential feature, and there is not even a workaround for it yet.

[2017-10-02 19:19] Stavanger75 commented on #236
+1

[2017-10-02 20:51] bryjawink commented on #469
+1

[2017-10-02 21:09] jhaynes commented on #901
@aboarya we haven't heard back from you in awhile so I'm going to close this question. If we haven't answered it, feel free to re-open or create a new issue if you have other questions.

[2017-10-02 21:09] #901 closed

[2017-10-02 21:19] jhaynes commented on #922
Since #957 has been closed in favor of #987, adding a note here so they're cross-referenced.

[2017-10-02 21:25] jhaynes commented on #1000
@aavileli Sorry to hear you're running to an issue. It sounds like your instance may not have enough memory for all the things it is trying to do. I've got a few questions for you:
- Can you include the output `cat /proc/meminfo` to help debug?
- Are the tasks you're running on this instance using the `memory` flag?
- Is there anything else running on the instance aside from the ECS Agent and your

[2017-10-03 00:47] benjyw commented on #731
Hi, I'm seeing this behavior when updating a task definition without changing the number of tasks:

I see two deployments in the Deployments tab of the service, the existing ACTIVE one with desired count=1, pending count=0, running count=1, and the new PENDING one with desired count=1, pending count=0, running count=0. It stays in this state forever.

However if I first set the desired count to 0,

[2017-10-03 01:00] benjyw commented on #731
Update: I am seeing lines like this in the ecs-agent logs:
[code]
But they don't appear to be correlated with any of my deployment actions.

[2017-10-03 07:24] AKSHAYUBHAT commented on #656
I was able to successfully update AWS Deep Learning AMI using instructions provided in AWS Batch documentation except with couple of changes changes and got it to work with ECS agent.
http://docs.aws.amazon.com/batch/latest/userguide/batch-gpu-ami.html
Changes [resulting script is here](https://github.com/AKSHAYUBHAT/DeepVideoAnalytics/blob/master/cloud/gpu_ami.sh):

1. Add ec2-user to docker grou

[2017-10-03 14:06] felixoldenburg commented on #534
This is actually one of our bigger reasons switching to Kubernetes, finally, after a few years with ECS.

[2017-10-03 15:17] adamrbennett commented on #3
Here's my use-case:
Create a task definition and run it in dev stack.
Test, iterate, etc.
When ready to promote, reuse the same task definition in prod stack.

It seems this is the intended approach, since task definitions are not cluster-specific. Furthermore, the task definition includes run-time properties, and contains things which may affect run-time behavior. It makes the most sense to promo

[2017-10-03 19:24] cjtenny opened #1001 "Documentation: LVM thin_pool_autoextend_threshold described incorrectly"
### Summary
LVM thin_pool_autoextend_threshold described incorrectly

### Description
https://aws.amazon.com/premiumsupport/knowledge-center/docker-thin-pool/ states:
This may be caused by Logical Volume Manager (LVM) auto-extending the volume. By default, LVM extends the thin pool when it reaches 100% utilization; the pool is extended by 20% of the total volume size. This can be verified with thi

[2017-10-03 23:43] djenriquez commented on #985
Hmm this doesnt look to have made the `1.14.5` release, can you confirm @aaithal ?

[2017-10-03 23:50] djenriquez commented on #985
Actually, it looks like #993 was included, thanks, going to try it out now.

[2017-10-03 23:51] aaithal commented on #985
@djenriquez Confirming that this did make the [v1.14.5 release](https://github.com/aws/amazon-ecs-agent/releases/tag/v1.14.5) (See commits [here](https://github.com/aws/amazon-ecs-agent/commits/v1.14.5)).

Also, I missed your previous post. The behavior that you mentioned in https://github.com/aws/amazon-ecs-agent/issues/985#issuecomment-333250001 should also be improved with #993.

Please let us

[2017-10-04 14:45] djenriquez commented on #985
@aaithal @antipax FYI, our clusters have been running 14.5 for > 12 hours and for the first time in probably a month, i woke up this morning with no agents disconnected.

Great work! So far so good!

[2017-10-04 15:43] jhaynes commented on #977
This change was release with [Agent v1.14.5](https://github.com/aws/amazon-ecs-agent/releases/tag/v1.14.5)

[2017-10-04 15:43] #977 closed

[2017-10-04 15:43] jhaynes commented on #978
This change was release with [Agent v1.14.5](https://github.com/aws/amazon-ecs-agent/releases/tag/v1.14.5)

[2017-10-04 15:43] #978 closed

[2017-10-04 17:37] aaithal commented on #731
@benjyw that seems like you don't have enough resources in your cluster. Can you please confirm that you have enough capacity in your cluster and deployments are stuck even in that case?

Thanks,
Anirudh

[2017-10-05 10:35] AKSHAYUBHAT commented on #656
Edited above instruction with new AMI that has ECS agent pre-updated.

[2017-10-05 17:49] benjyw commented on #731
@aaithal I can confirm that there are more than 3X the required resources in the cluster.

But your question helped me figure out the issue:  I had "Minimum healthy percent" set to 50% and "Maximum percent" set to 150%.  Which works fine when you have many tasks in the service, but when you're testing things out with just a single task, those percentages actually work against you, because 0 tasks

[2017-10-05 18:17] aaithal commented on #731
@benjyw We're glad that you were able to resolve that! I'll close this for now. Feel free to reach out to us if you have other questions/comments. Thanks!

[2017-10-05 19:19] traffetseder commented on #534
This has caused some big issues for us in prod. Can you please prioritize this?

[2017-10-05 21:46] JustinPullen commented on #549
+1

[2017-10-06 21:09] rh-lphan opened #1008 "ECS-Sumologic Plugin integration"
### Summary

Trying to use sumologic logging driver with ECS

### Description

After following instructions from

https://github.com/aws/amazon-ecs-agent/pull/992

Using latest AMI from amazon
Docker Vers: 17.03.2-ce
Amazon Agent: 1.14.5

As part of User data, I have added
#!/bin/bash

echo ECS_CLUSTER=PROD-MS1-Cluster >> /etc/ecs/ecs.config
echo ECS_AVAILABLE_LOGGING_DRIVERS=[\"json-file\",\"sysl

[2017-10-06 21:14] samuelkarp commented on #1008
You need at least Docker 17.05.0 in order for logging driver plugins to work.  See [the changelog](https://github.com/moby/moby/releases/tag/v17.05.0-ce).

[2017-10-06 21:40] rh-lphan commented on #1008
Based on this link

http://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-optimized_AMI.html

Looks like the latest  ECS AMI only supports: 17.03.2

The developer who reported the fix from https://github.com/aws/amazon-ecs-agent/pull/992 says it worked from him.  I wonder if he was using these AMI and somehow upgraded the Docker version.

I will check with him.

[2017-10-06 21:42] samuelkarp commented on #1008
You can [install the ECS agent](http://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-agent-install.html) on any modern Linux AMI, including ones that have newer versions of Docker available.  The requirements for a supported AMI are [described here](http://docs.aws.amazon.com/AmazonECS/latest/developerguide/container_instance_AMIs.html).

[2017-10-07 17:27] foragerr commented on #615
Given that NAT mode has [known performance issues](https://github.com/moby/moby/issues/34355) it would be nice to add support for the other modes.

[2017-10-07 18:59] samuelkarp commented on #729
We've released ECS agent [v1.14.5](https://github.com/aws/amazon-ecs-agent/releases/tag/v1.14.5), which now works with newer versions of Docker on Windows.

[2017-10-07 18:59] #729 closed

[2017-10-07 19:00] samuelkarp commented on #954
We've released ECS agent [v1.14.5](https://github.com/aws/amazon-ecs-agent/releases/tag/v1.14.5), which now works with newer versions of Docker on Windows.

[2017-10-07 19:00] #954 closed

[2017-10-08 00:47] JonCubed commented on #954
thanks @samuelkarp

[2017-10-09 00:06] marceloavan commented on #852
+1

[2017-10-09 21:36] bruceharrison1984 commented on #469
+1

[2017-10-09 23:47] samuelkarp opened #1010 "Docker capability testing is broken with Docker >= 1.13.0"
### Summary
Capability detection is broken because we're not able to detect supported Remote API versions properly since Docker 1.13.0.

### Description
See https://github.com/moby/moby/issues/35145

Docker stopped rejecting API requests with version numbers greater than the maximum version supported by the daemon. This happened in https://github.com/moby/moby/commit/e98e4a71110fd33852bb755a9b8b4e

[2017-10-10 11:45] gurumaia commented on #788
+1

[2017-10-10 18:09] UnitasBrooks commented on #502
--cpu-rt-runtime is also missing.

[2017-10-11 11:11] i-ghost commented on #473
This would be very useful to run the [Stackify](https://support.stackify.com/hc/en-us/articles/115000715203-Docker-Support) agent with! 👍

[2017-10-11 13:57] rferreira opened #1011 "devicemapper thin volume almost full but container doesn't show same usage"
### Summary
It looks like my docker container disk is filling up but it's impossible to tell where that consumption is coming from so I believe there's something odd going on with the thin volume.

### Description
Please observe:
[code]

### Expected Behavior
I would expect the 28GB of usage to come from the bits actually inside the container (to have somewhere under / consuming it

### Observed B

[2017-10-11 18:35] aaithal commented on #1010
To make the version detection logic in the Agent more generic, let's do this:

1. create an unversioned docker client
2. call `client.Version()`
3. if response contains `MinAPIVersion`, register the versions we care about between [`MinAPIVersion`,`ApiVersion`]
4. else use the versioned client + `client.Ping()` logic we have today

[2017-10-11 18:49] samuelkarp commented on #1010
LGTM, except I'd just use a versioned client at the default (1.17 for Linux and 1.24 for Windows) in order to make the initial `/version` call.

[2017-10-11 19:03] vsiddharth commented on #985
#993 was released with [v1.14.5](https://github.com/aws/amazon-ecs-agent/releases/tag/v1.14.5)

Please feel free to reopen if this issue recurs.

[2017-10-11 19:03] #985 closed

[2017-10-11 20:13] Htarlov commented on #469
+1

[2017-10-11 22:05] mattfeury commented on #549
+1000

[2017-10-12 01:08] vsiddharth commented on #1011
@rferreira your configuration seems particularly strange to me.
Could you please provide additional details on how you setup this environment?

[2017-10-12 01:40] ejholmes opened #1013 "Feature Request: Add support for disabling volumes"
In poorly configured Docker environments, volumes can be use to escalate to root on the Docker host. It would be nice if ECS added an attribute if the task definition has volumes.

For example, if a I have a task definition that specifies mount points on the host, then the task definition would get a required attribute like:

[code]

By default, the ECS agent would be registered with this capabili

[2017-10-12 16:57] sharanyad commented on #1010
According to today's supported docker versions detection logic, even when client `ping` fails, we add it to the list of supported API versions.
Code path [here](https://github.com/aws/amazon-ecs-agent/blob/master/agent/engine/dockerclient/dockerclientfactory.go#L121)

[2017-10-12 17:00] samuelkarp commented on #1010
@sharanyad There are actually two different things going on.  We're trying to detect all API versions that the Docker daemon knows about that we also know exist, and separately from that we're trying to detect all API versions that the Docker daemon knows and we fully support.  This logic exists so that we can add new logging drivers (since they'll have been introduced along with a new Docker API

[2017-10-12 17:42] sharanyad commented on #1010
Yes, I understand the distinction between `FindKnownAPIVersions` and `FindSupportedAPIVersions`. What I intended to convey was in the `findDockerVersions` method, when `client.Ping()` fails, instead of returning err, we add the client to the list. I think the logic was modified during regression.

[2017-10-12 17:45] samuelkarp commented on #1010
@sharanyad Got it, that does sound like an additional bug.

[2017-10-13 04:53] johnatdoshii commented on #872
I agree with above, this feature is important. This impacts downstream tools like SumoLogic as well. Multi-line log support is important for readability and usability.

It would be great to get an idea of when this is planned to be implemented.

[2017-10-15 12:48] ssozonoff commented on #151
Any updates this, while I assume many have found workarounds considering the amount of time which has past I still things its critical this get implemented.

Thanks,
Serge

[2017-10-16 17:16] nickm4062 commented on #502
--pid as well

[2017-10-16 19:16] angelamancini commented on #872
The ability to collect multi-line logs is a necessity. My use case: I have several tasks (rails or sinatra apps) running on one ECS cluster that all log to cloudwatch log groups. Those log groups stream data to a lambda that then feeds into SumoLogic for searching. It works great, except stack traces don't work and come in as separate lines or worse separate lines and out of order.

I need to be a

[2017-10-17 01:15] sharanyad commented on #1010
Merged https://github.com/aws/amazon-ecs-agent/pull/1014 fixes this issue, hence closing.

[2017-10-17 01:15] #1010 closed

[2017-10-17 09:39] kensaggy commented on #872
@angelamancini  Yes, we're seeing the same thing (no SumoLogic though) - getting stack traces as separate lines, sometimes out of order...

[2017-10-17 13:25] jishi commented on #685
@cabbruzzese We start to seem the same behavior once again since a couple of weeks ago. Tasks ending up on the same container after deployment even do we enforce spread on AZ on the service.

Could it be that this issue has been re-introduced?

[2017-10-17 16:23] hltbra commented on #528
I didn't know that ECS didn't support "none" as a valid log driver. I noticed that I can successfully create a task definition with `none`, but it seems that the ecs-agent never picks up tasks to run.

What's the official workaround, @aaithal? I am thinking about using `json-file` and setting a `max-size`.

My situation: We are spending too much with CloudWatch Logs and some of our applications ha

[2017-10-17 16:58] samuelkarp opened #1019 "Flaky test: `stats` package `init`"
### Summary
Tests in the `stats` package flake due to a call in `init`.

### Description
[This line](https://github.com/aws/amazon-ecs-agent/blob/82707447a82fa443c2125a3fba408b4fea800c28/agent/stats/common_test.go#L67) is causing flakiness in our Travis environment.

### Expected Behavior
Tests pass

### Observed Behavior
Tests sometimes fail, inconsistently

### Environment Details
TravisCI, no D

[2017-10-17 17:08] samuelkarp opened #1020 "Flaky test: `TestMetadataFileUpdatedAgentRestart`"
### Summary
`TestMetadataFileUpdatedAgentRestart` sometimes fails asynchronously after completion.

### Description
A goroutine causes a failure after the test completes, sometimes.  It looks like there's an unmocked call to `StateManager.ForceSave`

### Expected Behavior
Tests pass

### Observed Behavior
Tests sometimes fail, inconsistently

### Environment Details
TravisCI

### Supporting Log Sn

[2017-10-17 22:52] jayaskren commented on #469
+1

[2017-10-17 23:05] adam-arredondo commented on #469
+1

[2017-10-18 02:00] abhik opened #1021 "Error getting per-container exist status"
### Summary
In an ECS task with two containers, how can code running in one detect if the second container has stopped?

### Description
I'm running a task with two containers, `default` and `task`. `default` is essential and `task` is not. From within `default`, I would like to detect when `task` has exited. This appears possible with AWS APIs but the results are not as expected.

The AWS web con

[2017-10-18 22:28] perhallstroem commented on #413
Any movement on this? We build Docker images using tags that are unique per version, and so if a xxx:nnn is successfully pulled at one time, it will always be the same. We have a workload scenario where we often want to run tens of thousands of small tasks, and have noticed that the ECS agent is pretty slow in starting them; one of the things holding it up seems to be that it keeps checking if the

[2017-10-19 00:02] shailesh2088 commented on #3
+1
This is possible when you execute docker run on bash. I don't see why it's not possible using task definitions.

[2017-10-19 06:30] ibrahima commented on #549
One minor note of clarification for those trying to make this change: The workaround mentioned in https://github.com/aws/amazon-ecs-agent/issues/549#issuecomment-281113044 is perhaps a little suboptimal compared to approach mentioned in https://github.com/aws/amazon-ecs-agent/issues/549#issuecomment-251517887 , which is also mentioned in the [docs](https://aws.amazon.com/premiumsupport/knowledge-c

[2017-10-19 07:13] AdrianAntunez commented on #502
I would like to use the `--cpuset-cpus` parameter. By that way we could limit in which cpu should be executed each docker container.

[2017-10-19 09:59] khalidhuseynov commented on #549
+1

[2017-10-19 14:10] rferreira commented on #1011
hey folks, this turned out to be an issue on my side with file descriptors leaking and preventing the store from being properly reclaimed (so much shame). Closing it as such.

[2017-10-19 14:10] #1011 closed

[2017-10-20 01:48] hSATAC commented on #462
+1

[2017-10-20 08:16] tsonev opened #1024 "ECS starting agent fails with: Could not unmarshal state"
### Summary
After enabling docker debugging as per this article:
http://docs.aws.amazon.com/AmazonECS/latest/developerguide/docker-debug-mode.html

and running :

sudo service docker restart
sudo start ecs

the ECS agent failed to start with :

 [CRITICAL] Error loading previously saved state: Could not unmarshal state; incomplete save. There was no task for arn arn:aws:ecs:us-west-2:888922156537:

[2017-10-20 09:06] tsonev commented on #1024
Just FYI: after returning the debug parameter to its original value(no debugging) the problem persists.
Is there a way to manually rebuild the esc agent container and restart it?

[2017-10-20 17:42] vsiddharth commented on #1024
@tsonev thanks a lot for reporting this.

The agent maintains its state in a flat file and it appears as though the agent is unable to marshal this state upon startup.

To help investigate this issue, it would be extremely helpful if you could provide more details on the actions you performed that resulted in this state.

You could use the [amazon-ecs-logs-collector](https://github.com/awslabs/ecs

[2017-10-20 19:13] houqp commented on #269
This is also a major blocker for us, is there a timeline for this?

[2017-10-21 15:53] tsonev commented on #1024
@vsiddharth ah sorry to say this but since this was one of our UAT environments it was critical that we restore it to working order asap. Thats why we scaled the cluster by spawning a new instance and drained this one..
As far as the actions I took, really there's nothing more to report, we noticed a problem with one of the three containers on that instance(mysql connection was not getting through

[2017-10-21 16:25] sandeep1512 commented on #594
Hi Yurgen,
I have similar issue, I dint understand your above comment, Could you please help how to troubleshoot his issue?
Error:
2017-10-18T18:06:39Z [INFO] Saving state! module="statemanager"
2017-10-18T18:06:44Z [INFO] Pulling container serially module="TaskEngine" task="creditoffers-adminui-qa:10 arn:aws:ecs:us-east-1:685250009713:task/d1766b29-c0c9-43f9-a32a-5c4b222746d5, Status: (NONE->RUNN

[2017-10-23 05:49] samuelkarp commented on #1020
Here's another one from https://github.com/aws/amazon-ecs-agent/pull/906:

[code]

[2017-10-23 06:31] samuelkarp commented on #1020
Another, from https://github.com/aws/amazon-ecs-agent/pull/1018:

[code]

[2017-10-23 07:28] samuelkarp commented on #970
Fixed in [1.14.5](https://github.com/aws/amazon-ecs-agent/releases/tag/v1.14.5).

[2017-10-23 07:28] #970 closed

[2017-10-23 07:28] #687 closed

[2017-10-23 07:28] #869 closed

[2017-10-23 13:52] Trandel commented on #872
Any updates on this issue?

[2017-10-23 19:02] binitdatta opened #1027 "AWS ECS CLI container deployment failing with OutOfMemory Issue for a t2.medium instance"
### Summary
I am trying to follow this AWS ECS CLI tutorial at http://docs.aws.amazon.com/AmazonECS/latest/developerguide/ECS_CLI_tutorial.html. The demo works fine. However, when I am trying to deploy my own container in the same cluster, it is failing with 137 OutofMemory Error.

### Description
Steps.

1. Github Repo
`https://github.com/rollingstonetechnology/udemy-rsmortgage-eureka-service-dis

[2017-10-23 19:55] samuelkarp opened #1028 "Flaky test: TestGetTaskByArn"
### Summary
`TestGetTaskByArn` sometimes fails asynchronously after completion.

### Description
There appears to be a call to `MockDockerClient.CreateContainer`, which I think would be unexpected.  Possibly state is being leaked between tests.

### Expected Behavior
Tests pass.

### Observed Behavior
Tests fail sometimes.

### Environment Details
TravisCI

### Supporting Log Snippets
[code]